Repository fjmerc/safeshare: changes, and which Codecov flags are due for each by the changed paths.
All: handlers, middleware, database, utils

fix: retain received bytes across download pause/resume to prevent corruption (#364)
  docs/CHANGELOG.md
  internal/static/web/assets/app.js
  internal/static/web/assets/resumable-downloader.js
  internal/static/web/index.html
  internal/static/web/service-worker.js
Due: none

fix: chunked upload cancel aborts in-flight requests and stops spurious failure toast
  docs/CHANGELOG.md
  internal/static/web/assets/app.js
  internal/static/web/assets/chunked-uploader.js
  internal/static/web/service-worker.js
Due: none

fix: chunked upload cancel aborts in-flight requests and stops spurious failure toast (#365)
  docs/CHANGELOG.md
  internal/static/web/assets/app.js
  internal/static/web/assets/chunked-uploader.js
  internal/static/web/service-worker.js
Due: none

security: enforce proxy trust everywhere, webhook replay protection, MFA timing hardening
  cmd/safeshare/main.go
  docs/API_REFERENCE.md
  docs/ARCHITECTURE.md
  docs/CHANGELOG.md
  internal/handlers/helpers.go
  internal/handlers/helpers_test.go
  internal/handlers/user_mfa_login.go
  internal/middleware/helpers.go
  internal/repository/sqlite/mfa_repository.go
  internal/utils/proxytrust.go
  internal/utils/proxytrust_test.go
  internal/webhooks/delivery.go
  internal/webhooks/delivery_test.go
Due: handlers, middleware, utils

fix: discard error return from timing-pad bcrypt compare (errcheck)
  internal/repository/sqlite/mfa_repository.go
Due: none

security: proxy trust enforcement, webhook replay protection, MFA timing hardening (#366)
  cmd/safeshare/main.go
  docs/API_REFERENCE.md
  docs/ARCHITECTURE.md
  docs/CHANGELOG.md
  internal/handlers/helpers.go
  internal/handlers/helpers_test.go
  internal/handlers/user_mfa_login.go
  internal/middleware/helpers.go
  internal/repository/sqlite/mfa_repository.go
  internal/utils/proxytrust.go
  internal/utils/proxytrust_test.go
  internal/webhooks/delivery.go
  internal/webhooks/delivery_test.go
Due: handlers, middleware, utils

security: make malware scanning effective — scan plaintext synchronously, fail closed
  docs/API_REFERENCE.md
  docs/CHANGELOG.md
  internal/config/config.go
  internal/handlers/assembly_worker.go
  internal/handlers/claim.go
  internal/handlers/scan_integrity_test.go
  internal/handlers/upload.go
  internal/metrics/metrics.go
  internal/repository/postgres/common.go
  internal/repository/postgres/file_repository.go
  internal/repository/postgres/integration_test.go
  internal/repository/sqlite/common.go
  internal/repository/sqlite/file_repository.go
  internal/scanning/scanner.go
  internal/scanning/scanner_test.go
Due: handlers

feat(admin): make malware-scan block-until-clean gate admin-toggleable
  cmd/safeshare/main.go
  docs/API_REFERENCE.md
  docs/CHANGELOG.md
  internal/config/config.go
  internal/config/features.go
  internal/config/features_test.go
  internal/database/migrations/024_malware_scan_block_until_clean.sql
  internal/handlers/admin_features.go
  internal/handlers/admin_features_test.go
  internal/handlers/claim.go
  internal/handlers/scan_integrity_test.go
  internal/repository/postgres/migrations.go
  internal/repository/postgres/settings_repository.go
  internal/repository/settings_repository.go
  internal/repository/sqlite/settings_repository.go
  internal/repository/sqlite/settings_repository_test.go
  internal/static/web/admin/assets/admin.js
  internal/static/web/admin/dashboard.html
  internal/static/web/service-worker.js
Due: handlers, database

security: bump x/text to v0.39.0 and Go toolchain to 1.25.12
  .github/workflows/build-and-push.yml
  .github/workflows/security-scan.yml
  docs/CHANGELOG.md
  go.mod
  go.sum
Due: none

security: bump x/text to v0.39.0 and Go toolchain to 1.25.12 (#383)
  .github/workflows/build-and-push.yml
  .github/workflows/security-scan.yml
  docs/CHANGELOG.md
  go.mod
  go.sum
Due: none

ci: ignore TypeScript major bumps for the TypeScript SDK
  .github/dependabot.yml
Due: none

ci: ignore TypeScript major bumps for the TypeScript SDK (#384)
  .github/dependabot.yml
Due: none

deps: consolidate seven Go module bumps into a single update
  go.mod
  go.sum
Due: none

deps: consolidate seven Go module bumps into a single update (#385)
  go.mod
  go.sum
Due: none

ci: auto-merge Dependabot patch and minor updates
  .github/workflows/dependabot-auto-merge.yml
Due: none

ci: auto-merge Dependabot patch and minor updates (#386)
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore: release v1.5.7
  docs/CHANGELOG.md
  internal/handlers/version.go
Due: handlers

ci: bump Go toolchain to 1.25.14 for stdlib security fixes
  .github/workflows/build-and-push.yml
  .github/workflows/security-scan.yml
  go.mod
Due: none

fix(webauthn): adapt to go-webauthn 0.18.0 extension API
  internal/webauthn/webauthn.go
Due: none

ci: replace unavailable minio images and move CI to Go 1.26
  .github/workflows/build-and-push.yml
  .github/workflows/security-scan.yml
  docker-compose.minio-test.yml
  scripts/test-minio.sh
  scripts/test-postgres.sh
Due: none

ci: test with the Go version we ship; fix MinIO docs example
  .github/workflows/build-and-push.yml
  .github/workflows/security-scan.yml
  Dockerfile
  docs/ARCHITECTURE.md
  docs/CHANGELOG.md
  go.mod
  scripts/test-minio.sh
  scripts/test-postgres.sh
Due: none

ci: bump golangci-lint to v2.14.0 and govulncheck to v1.8.0 for Go 1.27
  .github/workflows/build-and-push.yml
  .github/workflows/security-scan.yml
Due: none

fix: transfer audit wave 1 — rate-limit buckets, extension bypass, reservation release, SDK limits
  docs/CHANGELOG.md
  internal/handlers/claim.go
  internal/handlers/claim_reservation_test.go
  internal/handlers/upload.go
  internal/handlers/upload_test.go
  internal/handlers/user_dashboard.go
  internal/handlers/user_dashboard_test.go
  internal/middleware/ratelimit.go
  internal/middleware/ratelimit_test.go
  internal/sdk_contract/contract_test.go
  internal/static/web/assets/app.js
  internal/static/web/assets/chunked-uploader.js
  internal/static/web/service-worker.js
  sdk/go/types.go
  sdk/go/upload.go
  sdk/typescript/src/client.ts
  sdk/typescript/tests/client.test.ts
Due: handlers, middleware

ci: make race detection a real, gating job
  .github/workflows/build-and-push.yml
Due: none

fix: resilient chunked uploads — retry policy, /complete retry, atomic chunk writes
  docs/CHANGELOG.md
  docs/CHUNKED_UPLOAD.md
  internal/handlers/upload_chunked.go
  internal/handlers/upload_chunked_test.go
  internal/models/partial_upload.go
  internal/static/web/assets/chunked-uploader.js
  internal/static/web/service-worker.js
  internal/utils/chunks.go
  internal/utils/chunks_test.go
Due: handlers, utils

feat: download sessions for max_downloads enforcement (ADR-014)
  cmd/safeshare/main.go
  docs/API_REFERENCE.md
  docs/ARCHITECTURE.md
  docs/CHANGELOG.md
  docs/HTTP_RANGE_SUPPORT.md
  docs/SECURITY.md
  docs/openapi.yaml
  internal/database/migrations/024_download_sessions.sql
  internal/handlers/claim.go
  internal/handlers/claim_range.go
  internal/handlers/claim_reservation_test.go
  internal/handlers/claim_session.go
  internal/handlers/claim_session_test.go
  internal/handlers/session_writer.go
  internal/handlers/session_writer_test.go
  internal/models/file.go
  internal/repository/file_repository.go
  internal/repository/mock/file_repository.go
  internal/repository/postgres/file_repository.go
  internal/repository/postgres/migrations.go
  internal/repository/sqlite/file_repository.go
  internal/repository/sqlite/file_repository_test.go
  internal/static/web/assets/resumable-downloader.js
  internal/static/web/service-worker.js
  internal/utils/reservation_reaper.go
Due: handlers, database, utils

chore: release v1.6.0
  docs/API_REFERENCE_FOR_TESTING.md
  docs/CHANGELOG.md
  docs/UPGRADING.md
  internal/handlers/claim.go
  internal/handlers/version.go
  sdk/go/client.go
  sdk/go/download.go
  sdk/python/safeshare/client.py
  sdk/python/tests/test_client.py
  sdk/typescript/src/client.ts
  sdk/typescript/tests/client.test.ts
Due: handlers

feat: seekable SFSE reader, range policy, stored-file classifier, migrate-encryption --verify (ADR-017 part 1)
  cmd/migrate-encryption/README.md
  cmd/migrate-encryption/main.go
  cmd/migrate-encryption/verify.go
  cmd/migrate-encryption/verify_test.go
  docs/CHANGELOG.md
  internal/utils/classify.go
  internal/utils/classify_test.go
  internal/utils/content_disposition.go
  internal/utils/content_disposition_test.go
  internal/utils/range_policy.go
  internal/utils/range_policy_test.go
  internal/utils/sfse_readseeker.go
  internal/utils/sfse_readseeker_test.go
Due: utils

feat: serve all claim downloads via http.ServeContent (ADR-017 part 2)
  cmd/migrate-encryption/verify.go
  cmd/migrate-encryption/verify_test.go
  cmd/safeshare/main.go
  docs/API_REFERENCE.md
  docs/CHANGELOG.md
  docs/HTTP_RANGE_SUPPORT.md
  docs/TOR_DEPLOYMENT.md
  go.mod
  go.sum
  internal/config/config.go
  internal/config/config_test.go
  internal/handlers/claim.go
  internal/handlers/claim_range.go
  internal/handlers/claim_range_test.go
  internal/handlers/claim_security_audit_round3_test.go
  internal/handlers/claim_security_audit_test.go
  internal/handlers/claim_servecontent_test.go
  internal/handlers/claim_session.go
  internal/handlers/claim_test.go
  internal/handlers/decrypt_admission.go
  internal/handlers/decrypt_admission_test.go
  internal/handlers/helpers.go
  internal/handlers/session_writer.go
  internal/metrics/middleware.go
  internal/middleware/logging.go
  internal/utils/decrypt_admission.go
  internal/utils/decrypt_admission_test.go
  internal/utils/encryption.go
  internal/utils/etag.go
  internal/utils/etag_test.go
  internal/utils/preconditions.go
  internal/utils/preconditions_test.go
  internal/utils/range_policy.go
  internal/utils/sfse_readseeker.go
Due: handlers, middleware, utils

fix: check SFSEReader Close error (errcheck)
  internal/handlers/claim_range.go
Due: handlers

fix: derive client IP from the rightmost untrusted X-Forwarded-For hop (T41)
  cmd/safeshare/main.go
  docs/ARCHITECTURE.md
  docs/CHANGELOG.md
  docs/REVERSE_PROXY.md
  internal/config/config.go
  internal/config/config_test.go
  internal/handlers/helpers.go
  internal/handlers/helpers_test.go
  internal/middleware/ipblock.go
  internal/middleware/ipblock_test.go
  internal/middleware/ratelimit.go
  internal/middleware/ratelimit_db.go
  internal/middleware/ratelimit_db_test.go
  internal/middleware/ratelimit_test.go
  internal/proxytrust/proxytrust.go
  internal/proxytrust/proxytrust_test.go
  internal/utils/ipvalidation.go
  internal/utils/ipvalidation_test.go
  internal/utils/proxytrust.go
  internal/utils/proxytrust_test.go
Due: handlers, middleware, utils

chore: release v1.7.0
  docs/CHANGELOG.md
  docs/SECURITY.md
  internal/handlers/version.go
Due: handlers

feat: SFSE2 in admin tools, migrate-encryption --upgrade-format, sendfile for capped downloads (ADR-017 part 3)
  Dockerfile
  cmd/import-file/README.md
  cmd/import-file/main.go
  cmd/import-file/main_test.go
  cmd/migrate-chunks/README.md
  cmd/migrate-encryption/README.md
  cmd/migrate-encryption/main.go
  cmd/migrate-encryption/main_test.go
  cmd/migrate-encryption/upgrade.go
  cmd/migrate-encryption/upgrade_test.go
  cmd/migrate-encryption/verify.go
  cmd/safeshare/main.go
  docs/ARCHITECTURE.md
  docs/CHANGELOG.md
  docs/HTTP_RANGE_SUPPORT.md
  internal/database/db.go
  internal/database/db_test.go
  internal/database/files.go
  internal/database/files_test.go
  internal/database/partial_uploads_test.go
  internal/handlers/claim_session_test.go
  internal/handlers/session_writer.go
  internal/handlers/session_writer_test.go
  internal/storage/filesystem/storage.go
  internal/utils/encryption.go
  internal/utils/encryption_sfse2_test.go
  internal/utils/encryption_stream_reader.go
  internal/utils/encryption_test.go
  internal/utils/range.go
  internal/utils/range_test.go
  internal/utils/sfse_readseeker.go
Due: handlers, database, utils

fix: canonical IP blocks with CIDR support and IPv6 /64 rate-limit keys (T43)
  cmd/safeshare/main.go
  docs/API_REFERENCE.md
  docs/ARCHITECTURE.md
  docs/CHANGELOG.md
  docs/PRODUCTION.md
  docs/SECURITY.md
  internal/config/config.go
  internal/config/config_test.go
  internal/database/admin.go
  internal/handlers/admin.go
  internal/handlers/admin_test.go
  internal/handlers/claim.go
  internal/handlers/decrypt_admission.go
  internal/ipcanon/cache.go
  internal/ipcanon/cache_test.go
  internal/ipcanon/canonical.go
  internal/ipcanon/canonical_test.go
  internal/middleware/admin.go
  internal/middleware/ipblock_test.go
  internal/middleware/ratelimit.go
  internal/middleware/ratelimit_db.go
  internal/middleware/ratelimit_test.go
  internal/proxytrust/proxytrust.go
  internal/proxytrust/proxytrust_test.go
  internal/repository/postgres/admin_normalize.go
  internal/repository/postgres/admin_repository.go
  internal/repository/postgres/factory.go
  internal/repository/postgres/integration_test.go
  internal/repository/sqlite/admin_normalize.go
  internal/repository/sqlite/admin_normalize_test.go
  internal/repository/sqlite/admin_repository.go
  internal/repository/sqlite/admin_repository_test.go
  internal/repository/sqlite/factory.go
  internal/static/web/admin/assets/admin.js
  internal/static/web/admin/dashboard.html
  internal/static/web/service-worker.js
  internal/utils/proxytrust.go
  internal/utils/proxytrust_test.go
  scripts/test-postgres.sh
Due: handlers, middleware, database, utils

fix: login rate limiters never locked out; crash under concurrent MFA/SSO logins
  cmd/safeshare/auth_routes.go
  cmd/safeshare/auth_routes_test.go
  cmd/safeshare/main.go
  docs/CHANGELOG.md
  docs/SECURITY.md
  docs/TOR_DEPLOYMENT.md
  internal/handlers/version.go
  internal/middleware/admin.go
  internal/middleware/ratelimit_login_test.go
Due: handlers, middleware

docs: date the v1.7.1 changelog entry
  docs/CHANGELOG.md
Due: none

fix: refuse to start with STORAGE_TYPE=s3 or DATABASE_TYPE=postgresql (T44)
  cmd/safeshare/backends.go
  cmd/safeshare/backends_test.go
  cmd/safeshare/main.go
  docs/ARCHITECTURE.md
  docs/CHANGELOG.md
  docs/DEPLOYMENT_MODES.md
Due: none

test/sdk: FK-enforcing test DBs, Postgres session tests, SDK scan typing, Python delete fix (T36, T37, T39, T40)
  .github/workflows/build-and-push.yml
  docs/CHANGELOG.md
  internal/database/admin_test.go
  internal/database/db.go
  internal/database/settings_test.go
  internal/database/webhooks_test.go
  internal/handlers/upload_chunked_test.go
  internal/handlers/upload_test.go
  internal/repository/postgres/download_session_integration_test.go
  internal/repository/sqlite/file_repository_test.go
  internal/repository/sqlite/user_repository_test.go
  internal/testutil/testutil.go
  sdk/python/safeshare/__init__.py
  sdk/python/safeshare/client.py
  sdk/python/safeshare/exceptions.py
  sdk/python/safeshare/models.py
  sdk/python/tests/test_client.py
  sdk/typescript/src/client.ts
  sdk/typescript/src/errors.ts
  sdk/typescript/src/index.ts
  sdk/typescript/src/types.ts
  sdk/typescript/tests/client.test.ts
Due: database

Path conditions:
  handlers: any of: internal/handlers/, but not: **/*_test.go, **/testdata/**, cmd/migrate-chunks/**, cmd/import-file/**
  middleware: any of: internal/middleware/, but not: **/*_test.go, **/testdata/**, cmd/migrate-chunks/**, cmd/import-file/**
  database: any of: internal/database/, but not: **/*_test.go, **/testdata/**, cmd/migrate-chunks/**, cmd/import-file/**
  utils: any of: internal/utils/, but not: **/*_test.go, **/testdata/**, cmd/migrate-chunks/**, cmd/import-file/**
