Repository fjmerc/safeshare: changes, and which Codecov flags are due for each by the changed paths.
All: handlers, middleware, database, utils

feat: add file expiration editing and claim code regeneration to user dashboard
  cmd/safeshare/main.go
  internal/database/users.go
  internal/handlers/config.go
  internal/handlers/config_test.go
  internal/handlers/user_dashboard.go
  internal/handlers/user_dashboard_test.go
  internal/static/web/dashboard.html
  internal/testutil/testutil.go
Due: handlers, database

feat: add file expiration editing and claim code regeneration to user dashboard (#105)
  cmd/safeshare/main.go
  internal/database/users.go
  internal/handlers/config.go
  internal/handlers/config_test.go
  internal/handlers/user_dashboard.go
  internal/handlers/user_dashboard_test.go
  internal/static/web/dashboard.html
  internal/testutil/testutil.go
Due: handlers, database

fix: address critical security vulnerabilities in claim code regeneration
  internal/database/files.go
  internal/handlers/claim.go
  internal/handlers/user_dashboard.go
  internal/middleware/ratelimit.go
Due: handlers, middleware, database

fix: address critical security vulnerabilities in claim code regeneration (#106)
  internal/database/files.go
  internal/handlers/claim.go
  internal/handlers/user_dashboard.go
  internal/middleware/ratelimit.go
Due: handlers, middleware, database

feat: track completed downloads separately from HTTP requests
  internal/database/admin.go
  internal/database/admin_test.go
  internal/database/files.go
  internal/database/migrations/006_completed_downloads.sql
  internal/database/users.go
  internal/handlers/claim.go
  internal/handlers/claim_range.go
  internal/handlers/user_dashboard.go
  internal/models/file.go
  internal/static/web/admin/assets/admin.js
  internal/static/web/dashboard.html
Due: handlers, database

feat: track completed downloads separately from HTTP requests (#107)
  internal/database/admin.go
  internal/database/admin_test.go
  internal/database/files.go
  internal/database/migrations/006_completed_downloads.sql
  internal/database/users.go
  internal/handlers/claim.go
  internal/handlers/claim_range.go
  internal/handlers/user_dashboard.go
  internal/models/file.go
  internal/static/web/admin/assets/admin.js
  internal/static/web/dashboard.html
Due: handlers, database

fix: add completed_downloads to admin dashboard API response
  internal/handlers/admin.go
Due: handlers

chore: bump version to 2.8.0
  docs/CHANGELOG.md
  internal/handlers/version.go
Due: handlers

docs: revise README.md and create comprehensive API_REFERENCE.md
  README.md
  docs/API_REFERENCE.md
  docs/README.md
Due: none

fix: display completed_downloads on pickup page instead of download_count
  internal/static/web/assets/app.js
Due: none

fix: resolve field display inconsistencies across frontend pages
  internal/handlers/upload.go
  internal/handlers/upload_chunked.go
  internal/models/file.go
  internal/models/partial_upload.go
  internal/static/web/assets/app.js
  internal/static/web/assets/style.css
  internal/static/web/index.html
Due: handlers

fix: resolve field display inconsistencies across frontend pages (#108)
  internal/handlers/upload.go
  internal/handlers/upload_chunked.go
  internal/models/file.go
  internal/models/partial_upload.go
  internal/static/web/assets/app.js
  internal/static/web/assets/style.css
  internal/static/web/index.html
Due: handlers

fix: service worker now skips cross-origin requests to prevent download failures
  docs/CHANGELOG.md
  internal/static/web/service-worker.js
Due: none

fix: resolve Pickup tab download failures at ~60% completion
  docs/CHANGELOG.md
  internal/static/web/assets/app.js
  internal/static/web/service-worker.js
Due: none

fix: resolve Pickup tab download failures at ~60% completion (#109)
  docs/CHANGELOG.md
  internal/static/web/assets/app.js
  internal/static/web/service-worker.js
Due: none

chore: bump version to 2.8.1
  docs/CHANGELOG.md
  internal/handlers/version.go
Due: handlers

security: fix session invalidation and timing attacks
  docs/CHANGELOG.md
  internal/database/users.go
  internal/handlers/admin.go
  internal/handlers/admin_users.go
  internal/handlers/user_auth.go
  internal/middleware/admin.go
Due: handlers, middleware, database

security: fix session invalidation and timing attacks (#110)
  docs/CHANGELOG.md
  internal/database/users.go
  internal/handlers/admin.go
  internal/handlers/admin_users.go
  internal/handlers/user_auth.go
  internal/middleware/admin.go
Due: handlers, middleware, database

docs: reorganize CLAUDE.md and extract implementation details to ARCHITECTURE.md
  CLAUDE.md
  docs/ARCHITECTURE.md
Due: none

docs: reorganize CLAUDE.md and extract implementation details to ARCHITECTURE.md (#111)
  CLAUDE.md
  docs/ARCHITECTURE.md
Due: none

security: fix encryption format confusion and timing attack vulnerabilities
  Dockerfile
  cmd/migrate-encryption/README.md
  cmd/migrate-encryption/main.go
  cmd/migrate-encryption/main_test.go
  internal/database/files.go
  internal/handlers/claim_range.go
Due: handlers, database

security: fix encryption format confusion and timing attack vulnerabilities (#112)
  Dockerfile
  cmd/migrate-encryption/README.md
  cmd/migrate-encryption/main.go
  cmd/migrate-encryption/main_test.go
  internal/database/files.go
  internal/handlers/claim_range.go
Due: handlers, database

security: fix input validation vulnerabilities (P1/P2 findings)
  docs/CHANGELOG.md
  internal/database/admin.go
  internal/handlers/admin.go
  internal/handlers/upload_chunked.go
  internal/utils/chunks.go
Due: handlers, database, utils

security: fix input validation vulnerabilities (P1/P2 findings) (#113)
  docs/CHANGELOG.md
  internal/database/admin.go
  internal/handlers/admin.go
  internal/handlers/upload_chunked.go
  internal/utils/chunks.go
Due: handlers, database, utils

bugfix: fix chunked upload state machine race conditions and error handling
  docs/CHANGELOG.md
  internal/database/partial_uploads.go
  internal/handlers/upload_chunked.go
Due: handlers, database

bugfix: fix chunked upload state machine race conditions and error handling (#114)
  docs/CHANGELOG.md
  internal/database/partial_uploads.go
  internal/handlers/upload_chunked.go
Due: handlers, database

bugfix: fix cleanup worker and goroutine lifecycle issues
  cmd/safeshare/main.go
  internal/database/files.go
  internal/database/files_test.go
  internal/database/partial_uploads.go
  internal/handlers/assembly_worker.go
  internal/integration/cleanup_test.go
  internal/integration/integration_test.go
  internal/utils/assembly_recovery.go
  internal/utils/cleanup.go
Due: handlers, database, utils

bugfix: fix cleanup worker and goroutine lifecycle issues (#115)
  cmd/safeshare/main.go
  internal/database/files.go
  internal/database/files_test.go
  internal/database/partial_uploads.go
  internal/handlers/assembly_worker.go
  internal/integration/cleanup_test.go
  internal/integration/integration_test.go
  internal/utils/assembly_recovery.go
  internal/utils/cleanup.go
Due: handlers, database, utils

test: improve database test coverage and fix transaction race conditions
  cmd/safeshare/main.go
  internal/database/files.go
  internal/database/files_test.go
  internal/database/partial_uploads.go
  internal/database/partial_uploads_test.go
  internal/database/users.go
  internal/database/users_test.go
  internal/handlers/admin_test.go
  internal/handlers/admin_users.go
  internal/handlers/admin_users_test.go
  internal/handlers/claim.go
  internal/handlers/upload.go
  internal/handlers/upload_chunked.go
Due: handlers, database

perf: implement resource management improvements to prevent exhaustion
  docs/CHANGELOG.md
  internal/database/db.go
  internal/handlers/admin.go
  internal/handlers/admin_users.go
  internal/handlers/config_assistant.go
  internal/handlers/upload_chunked.go
  internal/handlers/user_auth.go
  internal/handlers/user_dashboard.go
Due: handlers, database

perf: resource management improvements to prevent exhaustion (#117)
  cmd/safeshare/main.go
  docs/CHANGELOG.md
  internal/database/db.go
  internal/database/files.go
  internal/database/files_test.go
  internal/database/partial_uploads.go
  internal/database/partial_uploads_test.go
  internal/database/users.go
  internal/database/users_test.go
  internal/handlers/admin.go
  internal/handlers/admin_test.go
  internal/handlers/admin_users.go
  internal/handlers/admin_users_test.go
  internal/handlers/claim.go
  internal/handlers/config_assistant.go
  internal/handlers/upload.go
  internal/handlers/upload_chunked.go
  internal/handlers/user_auth.go
  internal/handlers/user_dashboard.go
Due: handlers, database

security: fix rate limiting and quota enforcement vulnerabilities
  internal/database/files.go
  internal/database/partial_uploads.go
  internal/middleware/ratelimit.go
  internal/utils/disk.go
Due: middleware, database, utils

security: fix rate limiting and quota enforcement vulnerabilities (#118)
  internal/database/files.go
  internal/database/partial_uploads.go
  internal/middleware/ratelimit.go
  internal/utils/disk.go
Due: middleware, database, utils

test: skip disk percentage checks in tests for CI compatibility
  internal/testutil/testutil.go
  internal/utils/disk_test.go
Due: none

bugfix: fix chunked upload UI display and rate limiting issues
  docs/CHANGELOG.md
  internal/handlers/upload_chunked.go
  internal/middleware/ratelimit.go
  internal/models/partial_upload.go
  internal/static/web/assets/chunked-uploader.js
Due: handlers, middleware

bugfix: fix chunked upload UI display and rate limiting issues (#119)
  docs/CHANGELOG.md
  internal/handlers/upload_chunked.go
  internal/middleware/ratelimit.go
  internal/models/partial_upload.go
  internal/static/web/assets/chunked-uploader.js
Due: handlers, middleware

chore: bump version to 2.8.2
  docs/CHANGELOG.md
  internal/handlers/version.go
Due: handlers

bugfix: restore backward compatibility for max_downloads=0 as unlimited
  cmd/import-file/main.go
  internal/database/files.go
Due: database

Path conditions:
  handlers: any of: internal/handlers/, but not: **/*_test.go, **/testdata/**, cmd/migrate-chunks/**, cmd/import-file/**
  middleware: any of: internal/middleware/, but not: **/*_test.go, **/testdata/**, cmd/migrate-chunks/**, cmd/import-file/**
  database: any of: internal/database/, but not: **/*_test.go, **/testdata/**, cmd/migrate-chunks/**, cmd/import-file/**
  utils: any of: internal/utils/, but not: **/*_test.go, **/testdata/**, cmd/migrate-chunks/**, cmd/import-file/**
