Repository fjmerc/safeshare: changes, and which Codecov flags are due for each by the changed paths.
All: handlers, middleware, database, utils

.codecov.yml:

# Codecov Configuration
# SafeShare - Phase 1 CI/CD Integration
# Current baseline coverage: 23.4%
# Threshold set to 20% for safety margin
# Future improvements planned: 35% → 50% → 80%

coverage:
  status:
    project:
      default:
        target: 20%              # Baseline coverage target
        threshold: 1%            # Allow 1% drop without failing
        informational: false     # Fail CI if below threshold
    patch:
      default:
        informational: true      # Don't require coverage on new code yet (Phase 1)

  precision: 2                   # Display 2 decimal places
  round: down                    # Round down for conservative estimates
  range: "70...100"             # Green coverage range

# Comment configuration for PRs
comment:
  layout: "diff, files, footer"
  behavior: default              # Update existing comments
  require_changes: false         # Always comment
  require_base: false            # Comment even on first PR
  require_head: true             # Require head coverage

# Ignore patterns
ignore:
  - "**/*_test.go"              # Ignore test files
  - "**/testdata/**"            # Ignore test data
  - "cmd/migrate-chunks/**"     # Ignore migration tools
  - "cmd/import-file/**"        # Ignore import tools

# Component flags (for detailed coverage tracking)
flags:
  handlers:
    paths:
      - internal/handlers/
  middleware:
    paths:
      - internal/middleware/
  database:
    paths:
      - internal/database/
  utils:
    paths:
      - internal/utils/

feat(ui): add WebAuthn security key login option to MFA verification
  internal/static/web/admin/login.html
  internal/static/web/login.html
  internal/static/web/service-worker.js
Due: none

feat(ui): add WebAuthn security key login option to MFA verification (#165)
  internal/static/web/admin/login.html
  internal/static/web/login.html
  internal/static/web/service-worker.js
Due: none

fix(webauthn): initialize WebAuthn service when MFA enabled at runtime
  internal/handlers/admin_enterprise.go
  internal/handlers/admin_features.go
  internal/handlers/admin_features_test.go
  internal/handlers/user_dashboard_test.go
  internal/handlers/webauthn_service.go
  internal/handlers/webauthn_service_test.go
  internal/handlers/webhook_emitter_test.go
Due: handlers

fix(webauthn): initialize WebAuthn service when MFA enabled at runtime (#166)
  internal/handlers/admin_enterprise.go
  internal/handlers/admin_features.go
  internal/handlers/admin_features_test.go
  internal/handlers/user_dashboard_test.go
  internal/handlers/webauthn_service.go
  internal/handlers/webauthn_service_test.go
  internal/handlers/webhook_emitter_test.go
Due: handlers

fix(mfa): use parseTimestampUTC for WebAuthn credential timestamps
  internal/repository/sqlite/mfa_repository.go
Due: none

fix(mfa): use parseTimestampUTC for WebAuthn credential timestamps (#167)
  internal/repository/sqlite/mfa_repository.go
Due: none

feat(ui): improve date tooltips and scope badge styling
  internal/static/web/admin/assets/admin.css
  internal/static/web/admin/assets/admin.js
  internal/static/web/dashboard.html
Due: none

refactor(ui): simplify MFA security section layout
  internal/static/web/dashboard.html
  internal/static/web/service-worker.js
Due: none

fix(ui): sort backups by newest first in admin dashboard
  internal/backup/backup.go
Due: none

chore(release): bump version to 1.5.1
  docs/CHANGELOG.md
  internal/handlers/version.go
Due: handlers

docs: remove emojis from README and update version to 1.5.1
  README.md
Due: none

docs: remove emojis from README and update version to 1.5.1 (#169)
  README.md
Due: none

feat(ci): add security scanning and dependency management
  .github/dependabot.yml
  .github/workflows/build-and-push.yml
  .github/workflows/security-scan.yml
  docs/CHANGELOG.md
  docs/SECURITY.md
  internal/static/web/dashboard.html
  internal/static/web/service-worker.js
Due: none

fix(ci): use golangci-lint-action v7 for golangci-lint v2.x support
  .github/workflows/build-and-push.yml
Due: none

feat(ci): add security scanning and dependency management (#170)
  .github/dependabot.yml
  .github/workflows/build-and-push.yml
  .github/workflows/security-scan.yml
  docs/CHANGELOG.md
  docs/SECURITY.md
  internal/static/web/dashboard.html
  internal/static/web/service-worker.js
Due: none

fix(ci): skip Docker Hub steps for PRs to support Dependabot
  .github/workflows/build-and-push.yml
Due: none

fix(ci): skip Docker Hub steps for PRs to support Dependabot (#172)
  .github/workflows/build-and-push.yml
Due: none

fix(ci): configure Dependabot to target develop branch
  .github/dependabot.yml
Due: none

fix(ci): configure Dependabot to target develop branch (#173)
  .github/dependabot.yml
Due: none

fix(auth): respect global MFA feature flag in admin login
  docs/CHANGELOG.md
  internal/handlers/admin.go
Due: handlers

fix(auth): respect global MFA feature flag in admin login (#174)
  docs/CHANGELOG.md
  internal/handlers/admin.go
Due: handlers

ci: sync CI/security infrastructure to main (no version bump) (#175)
  .github/dependabot.yml
  .github/workflows/build-and-push.yml
  .github/workflows/security-scan.yml
  README.md
  docs/CHANGELOG.md
  docs/SECURITY.md
  internal/handlers/admin.go
  internal/static/web/dashboard.html
  internal/static/web/service-worker.js
Due: handlers

ci: sync dependency updates to main (no version bump) (#191)
  .github/workflows/build-and-push.yml
  .github/workflows/security-scan.yml
  Dockerfile
  go.mod
  go.sum
  sdk/go/go.mod
  sdk/go/go.sum
Due: none

chore(release): bump version to 1.5.2
  docs/CHANGELOG.md
  internal/handlers/version.go
Due: handlers

fix: resolve CI failures for s3/manager v1.22.0 upgrade
  go.mod
  internal/storage/s3/storage.go
Due: none

fix: upgrade Go 1.24 to 1.25 and bump x/net to resolve govulncheck failures
  .github/workflows/build-and-push.yml
  .github/workflows/security-scan.yml
  go.mod
  go.sum
  scripts/run-tests-race.sh
  scripts/run-tests.sh
  scripts/test-postgres.sh
Due: none

fix: pin Go 1.25.8 in CI and upgrade golangci-lint to v2.11.3
  .github/workflows/build-and-push.yml
  .github/workflows/security-scan.yml
Due: none

fix: upgrade Go 1.24 to 1.25 and bump x/net to resolve govulncheck failures (#231)
  .github/workflows/build-and-push.yml
  .github/workflows/security-scan.yml
  go.mod
  go.sum
  scripts/run-tests-race.sh
  scripts/run-tests.sh
  scripts/test-postgres.sh
Due: none

chore(release): bump version to 1.5.3
  docs/CHANGELOG.md
  internal/handlers/version.go
Due: handlers

fix(ci): strip v prefix from container-scan image tag
  .github/workflows/build-and-push.yml
Due: none

fix: wait for async assembly in chunked upload test
  internal/handlers/upload_chunked_test.go
Due: none

fix: wait for async assembly in chunked upload test (#237)
  internal/handlers/upload_chunked_test.go
Due: none

fix: self-host QR code library to remove external CDN dependency
  docs/CHANGELOG.md
  internal/static/web/assets/qrcode.min.js
  internal/static/web/index.html
  internal/static/web/service-worker.js
Due: none

feat: add automatic metadata stripping for uploaded images (STRIP_METADATA)
  docs/CHANGELOG.md
  docs/SECURITY.md
  internal/config/config.go
  internal/handlers/assembly_worker.go
  internal/handlers/upload.go
  internal/privacy/jpeg.go
  internal/privacy/metadata.go
  internal/privacy/metadata_test.go
  internal/privacy/png.go
Due: handlers

fix: reject filenames with control characters to prevent header injection
  internal/handlers/upload.go
  internal/handlers/upload_test.go
  internal/utils/validation.go
Due: handlers, utils

feat: add metadata stripping for Office documents (DOCX, XLSX, PPTX)
  docs/CHANGELOG.md
  docs/SECURITY.md
  internal/privacy/metadata.go
  internal/privacy/metadata_test.go
  internal/privacy/office.go
Due: none

docs: add Tor hidden service deployment guide
  CLAUDE.md
  docs/CHANGELOG.md
  docs/TOR_DEPLOYMENT.md
Due: none

feat: add client-side end-to-end encryption for file uploads
  CLAUDE.md
  docs/CHANGELOG.md
  docs/E2E_ENCRYPTION.md
  internal/static/web/assets/app.js
  internal/static/web/assets/crypto.js
  internal/static/web/assets/style.css
  internal/static/web/index.html
  internal/static/web/service-worker.js
Due: none

fix: address code review findings for E2E encryption
  internal/static/web/assets/app.js
Due: none
