Repository fjmerc/safeshare: changes, and which Codecov flags are due for each by the changed paths.
All: handlers, middleware, database, utils

fix(webhooks): per-call HTTP client to fix Timeout race (SH-1.3) (#307)
  docs/CHANGELOG.md
  internal/webhooks/delivery.go
  internal/webhooks/delivery_race_test.go
Due: none

fix(uploads): non-blocking assembly slot acquire + 503 (SH-1.4)
  cmd/safeshare/main.go
  docs/CHANGELOG.md
  internal/config/config.go
  internal/handlers/upload_chunked.go
  internal/handlers/upload_chunked_test.go
  internal/metrics/metrics.go
  internal/middleware/ratelimit.go
  internal/repository/partial_upload_repository.go
  internal/repository/postgres/partial_upload_repository.go
  internal/repository/sqlite/partial_upload_repository.go
  internal/repository/sqlite/partial_upload_repository_test.go
Due: handlers, middleware

fix(uploads): non-blocking assembly slot acquire + 503 (SH-1.4) (#308)
  cmd/safeshare/main.go
  docs/CHANGELOG.md
  internal/config/config.go
  internal/handlers/upload_chunked.go
  internal/handlers/upload_chunked_test.go
  internal/metrics/metrics.go
  internal/middleware/ratelimit.go
  internal/repository/partial_upload_repository.go
  internal/repository/postgres/partial_upload_repository.go
  internal/repository/sqlite/partial_upload_repository.go
  internal/repository/sqlite/partial_upload_repository_test.go
Due: handlers, middleware

fix(security): move file password from URL to header (SH-1.5)
  docs/API_REFERENCE_FOR_TESTING.md
  docs/CHANGELOG.md
  internal/handlers/claim.go
  internal/handlers/claim_test.go
  internal/static/web/assets/app.js
  internal/static/web/assets/resumable-downloader.js
  internal/static/web/service-worker.js
Due: handlers

fix(security): move file password from URL to header (SH-1.5) (#309)
  docs/API_REFERENCE_FOR_TESTING.md
  docs/CHANGELOG.md
  internal/handlers/claim.go
  internal/handlers/claim_test.go
  internal/static/web/assets/app.js
  internal/static/web/assets/resumable-downloader.js
  internal/static/web/service-worker.js
Due: handlers

fix(encryption): SFSE2 streaming format with per-chunk AAD (SH-2.1)
  docs/ARCHITECTURE.md
  docs/CHANGELOG.md
  internal/database/migrations/022_enc_file_id.sql
  internal/handlers/assembly_worker.go
  internal/handlers/claim_range.go
  internal/handlers/upload.go
  internal/models/file.go
  internal/repository/mock/file_repository.go
  internal/repository/postgres/common.go
  internal/repository/postgres/file_repository.go
  internal/repository/postgres/migrations.go
  internal/repository/sqlite/common.go
  internal/repository/sqlite/file_repository.go
  internal/utils/encryption.go
  internal/utils/encryption_sfse2_test.go
Due: handlers, database, utils

fix(encryption): SFSE2 streaming format with per-chunk AAD (SH-2.1) (#310)
  docs/ARCHITECTURE.md
  docs/CHANGELOG.md
  internal/database/migrations/022_enc_file_id.sql
  internal/handlers/assembly_worker.go
  internal/handlers/claim_range.go
  internal/handlers/upload.go
  internal/models/file.go
  internal/repository/mock/file_repository.go
  internal/repository/postgres/common.go
  internal/repository/postgres/file_repository.go
  internal/repository/postgres/migrations.go
  internal/repository/sqlite/common.go
  internal/repository/sqlite/file_repository.go
  internal/utils/encryption.go
  internal/utils/encryption_sfse2_test.go
Due: handlers, database, utils

fix(encryption): drop unused sfse1HeaderSize constant (SH-2.1 CI follow-up)
  internal/utils/encryption.go
Due: utils

fix(encryption): drop unused sfse1HeaderSize constant (SH-2.1 CI follow-up) (#311)
  internal/utils/encryption.go
Due: utils

perf(storage): stream S3 encrypted I/O end-to-end (SH-2.2)
  .github/workflows/build-and-push.yml
  cmd/safeshare/main.go
  docker-compose.minio-test.yml
  docs/ARCHITECTURE.md
  docs/CHANGELOG.md
  internal/storage/encrypted_storage.go
  internal/storage/encrypted_storage_test.go
  internal/storage/s3/encrypted_storage.go
  internal/storage/s3/encrypted_storage_integration_test.go
  internal/storage/s3/encrypted_storage_test.go
  internal/utils/encryption.go
  internal/utils/encryption_sfse2_test.go
  internal/utils/encryption_stream_reader.go
  internal/utils/encryption_stream_reader_test.go
  scripts/test-minio.sh
Due: utils

ci(test-minio): launch MinIO via docker run, drop missing bitnami tag
  .github/workflows/build-and-push.yml
Due: none

perf(storage): stream S3 encrypted I/O end-to-end (SH-2.2) (#312)
  .github/workflows/build-and-push.yml
  cmd/safeshare/main.go
  docker-compose.minio-test.yml
  docs/ARCHITECTURE.md
  docs/CHANGELOG.md
  internal/storage/encrypted_storage.go
  internal/storage/encrypted_storage_test.go
  internal/storage/s3/encrypted_storage.go
  internal/storage/s3/encrypted_storage_integration_test.go
  internal/storage/s3/encrypted_storage_test.go
  internal/utils/encryption.go
  internal/utils/encryption_sfse2_test.go
  internal/utils/encryption_stream_reader.go
  internal/utils/encryption_stream_reader_test.go
  scripts/test-minio.sh
Due: utils

fix(downloads): two-phase reservation pattern for download cap (SH-2.3)
  cmd/safeshare/main.go
  docs/CHANGELOG.md
  internal/config/config.go
  internal/database/migrations/023_download_reservations.sql
  internal/handlers/claim.go
  internal/handlers/claim_range.go
  internal/handlers/claim_range_test.go
  internal/handlers/claim_reservation_test.go
  internal/handlers/reservation_inflight.go
  internal/handlers/reservation_inflight_test.go
  internal/repository/file_repository.go
  internal/repository/mock/file_repository.go
  internal/repository/postgres/file_repository.go
  internal/repository/postgres/migrations.go
  internal/repository/sqlite/file_repository.go
  internal/utils/reservation_reaper.go
  internal/utils/reservation_reaper_test.go
Due: handlers, database, utils

fix(downloads): two-phase reservation pattern for download cap (SH-2.3) (#313)
  cmd/safeshare/main.go
  docs/CHANGELOG.md
  internal/config/config.go
  internal/database/migrations/023_download_reservations.sql
  internal/handlers/claim.go
  internal/handlers/claim_range.go
  internal/handlers/claim_range_test.go
  internal/handlers/claim_reservation_test.go
  internal/handlers/reservation_inflight.go
  internal/handlers/reservation_inflight_test.go
  internal/repository/file_repository.go
  internal/repository/mock/file_repository.go
  internal/repository/postgres/file_repository.go
  internal/repository/postgres/migrations.go
  internal/repository/sqlite/file_repository.go
  internal/utils/reservation_reaper.go
  internal/utils/reservation_reaper_test.go
Due: handlers, database, utils

perf(cleanup): close expired-files cursor before filesystem work (SH-3.4)
  internal/database/files.go
  internal/repository/postgres/file_repository.go
  internal/repository/sqlite/file_repository.go
Due: database

perf(cleanup): single DB snapshot for orphan TOCTOU re-check (SH-3.3)
  internal/utils/cleanup.go
Due: utils

perf(webhooks): 30s in-process cache for enabled-config view (SH-3.2)
  internal/handlers/webhook_admin.go
  internal/handlers/webhook_emitter.go
  internal/webhooks/dispatcher.go
  internal/webhooks/dispatcher_test.go
Due: handlers

perf(encryption): cache cipher.AEAD per key (SH-3.1)
  internal/utils/encryption.go
  internal/utils/encryption_test.go
Due: utils

feat(storage): DB-sourced integrity expectations through S3 wrapper (SH-3.5)
  docs/CHANGELOG.md
  internal/storage/filesystem/storage.go
  internal/storage/interface.go
  internal/storage/s3/encrypted_storage.go
  internal/storage/s3/encrypted_storage_integration_test.go
Due: none

Wave 3: perf hot paths + S3 substitution defence (SH-3.1..3.5) (#314)
  docs/CHANGELOG.md
  internal/database/files.go
  internal/handlers/webhook_admin.go
  internal/handlers/webhook_emitter.go
  internal/repository/postgres/file_repository.go
  internal/repository/sqlite/file_repository.go
  internal/storage/filesystem/storage.go
  internal/storage/interface.go
  internal/storage/s3/encrypted_storage.go
  internal/storage/s3/encrypted_storage_integration_test.go
  internal/utils/cleanup.go
  internal/utils/encryption.go
  internal/utils/encryption_test.go
  internal/webhooks/dispatcher.go
  internal/webhooks/dispatcher_test.go
Due: handlers, database, utils

chore: bump version to 1.5.5
  docs/CHANGELOG.md
  internal/handlers/version.go
Due: handlers

chore: ignore .claude/*.lock runtime session locks
  .gitignore
Due: none

fix(sdk): bump vitest to ^4.1.0 to fix critical UI-server file-read CVE
  .github/dependabot.yml
  sdk/typescript/.gitignore
  sdk/typescript/package-lock.json
  sdk/typescript/package.json
  sdk/typescript/tests/client.test.ts
Due: none

fix(sdk): bump vitest to ^4.1.0 to fix critical UI-server file-read CVE (#327)
  .github/dependabot.yml
  sdk/typescript/.gitignore
  sdk/typescript/package-lock.json
  sdk/typescript/package.json
  sdk/typescript/tests/client.test.ts
Due: none

ci: run TypeScript SDK vitest suite in CI
  .github/workflows/build-and-push.yml
Due: none

ci: run TypeScript SDK vitest suite in CI (#328)
  .github/workflows/build-and-push.yml
Due: none

feat(ui): accessibility and UX improvements across web frontend
  docs/CHANGELOG.md
  internal/static/web/admin/dashboard.html
  internal/static/web/admin/login.html
  internal/static/web/assets/app.js
  internal/static/web/assets/error-theme-toggle.js
  internal/static/web/assets/style.css
  internal/static/web/dashboard.html
  internal/static/web/error.html
  internal/static/web/index.html
  internal/static/web/login.html
  internal/static/web/service-worker.js
  internal/static/web/site.webmanifest
Due: none

security: bump Go toolchain to 1.25.11
  .github/workflows/build-and-push.yml
  .github/workflows/security-scan.yml
  docs/CHANGELOG.md
  go.mod
Due: none

security: bump Go toolchain to 1.25.11 (#337)
  .github/workflows/build-and-push.yml
  .github/workflows/security-scan.yml
  docs/CHANGELOG.md
  go.mod
Due: none

feat(ui): accessibility and UX improvements across web frontend (#336)
  docs/CHANGELOG.md
  internal/static/web/admin/dashboard.html
  internal/static/web/admin/login.html
  internal/static/web/assets/app.js
  internal/static/web/assets/error-theme-toggle.js
  internal/static/web/assets/style.css
  internal/static/web/dashboard.html
  internal/static/web/error.html
  internal/static/web/index.html
  internal/static/web/login.html
  internal/static/web/service-worker.js
  internal/static/web/site.webmanifest
Due: none

feat(ui): mobile responsive overhaul for admin dashboard and login pages
  docs/CHANGELOG.md
  internal/static/web/admin/assets/admin.css
  internal/static/web/admin/dashboard.html
  internal/static/web/admin/login.html
  internal/static/web/assets/style.css
  internal/static/web/login.html
  internal/static/web/service-worker.js
Due: none

feat(ui): mobile responsive overhaul for admin dashboard and login pages (#338)
  docs/CHANGELOG.md
  internal/static/web/admin/assets/admin.css
  internal/static/web/admin/dashboard.html
  internal/static/web/admin/login.html
  internal/static/web/assets/style.css
  internal/static/web/login.html
  internal/static/web/service-worker.js
Due: none

perf: sliding-window chunk upload pool and fused assembly+encryption
  docs/CHANGELOG.md
  internal/handlers/assembly_worker.go
  internal/static/web/assets/chunked-uploader.js
  internal/static/web/service-worker.js
  internal/utils/chunks.go
  internal/utils/chunks_test.go
Due: handlers, utils

fix: handle chunkReader.Close error and bump golang.org/x/image
  go.mod
  go.sum
  internal/utils/chunks.go
Due: utils

fix: calibrate adaptive-concurrency latency ceiling to observed link speed
  docs/CHANGELOG.md
  internal/static/web/assets/chunked-uploader.js
  internal/static/web/service-worker.js
Due: none

fix: scale transfer deadlines and polling budgets to slow-but-healthy links
  docs/CHANGELOG.md
  internal/handlers/claim.go
  internal/handlers/helpers.go
  internal/handlers/upload.go
  internal/handlers/upload_chunked.go
  internal/metrics/middleware.go
  internal/metrics/middleware_test.go
  internal/middleware/logging.go
  internal/middleware/logging_test.go
  internal/middleware/token_audit.go
  internal/middleware/token_audit_test.go
  internal/static/web/assets/chunked-uploader.js
  internal/static/web/service-worker.js
Due: handlers, middleware

chore: bump version to 1.5.6
  docs/CHANGELOG.md
  internal/handlers/version.go
Due: handlers

fix(sdk): repair TypeScript SDK typecheck/build and .d.ts resolution
  .github/workflows/build-and-push.yml
  docs/CHANGELOG.md
  sdk/typescript/package.json
  sdk/typescript/src/client.ts
  sdk/typescript/tsconfig.json
Due: none

fix(sdk): override esbuild to 0.28.1 (GHSA dev-server file read)
  sdk/typescript/package-lock.json
  sdk/typescript/package.json
Due: none

fix: retain received bytes across download pause/resume to prevent corruption
  docs/CHANGELOG.md
  internal/static/web/assets/app.js
  internal/static/web/assets/resumable-downloader.js
  internal/static/web/index.html
  internal/static/web/service-worker.js
Due: none

Path conditions:
  handlers: any of: internal/handlers/, but not: **/*_test.go, **/testdata/**, cmd/migrate-chunks/**, cmd/import-file/**
  middleware: any of: internal/middleware/, but not: **/*_test.go, **/testdata/**, cmd/migrate-chunks/**, cmd/import-file/**
  database: any of: internal/database/, but not: **/*_test.go, **/testdata/**, cmd/migrate-chunks/**, cmd/import-file/**
  utils: any of: internal/utils/, but not: **/*_test.go, **/testdata/**, cmd/migrate-chunks/**, cmd/import-file/**
