Repository fjmerc/safeshare: changes, and which Codecov flags are due for each by the changed paths.
All: handlers, middleware, database, utils

.codecov.yml:

# Codecov Configuration
# SafeShare - Phase 1 CI/CD Integration
# Current baseline coverage: 23.4%
# Threshold set to 20% for safety margin
# Future improvements planned: 35% → 50% → 80%

coverage:
  status:
    project:
      default:
        target: 20%              # Baseline coverage target
        threshold: 1%            # Allow 1% drop without failing
        informational: false     # Fail CI if below threshold
    patch:
      default:
        informational: true      # Don't require coverage on new code yet (Phase 1)

  precision: 2                   # Display 2 decimal places
  round: down                    # Round down for conservative estimates
  range: "70...100"             # Green coverage range

# Comment configuration for PRs
comment:
  layout: "diff, files, footer"
  behavior: default              # Update existing comments
  require_changes: false         # Always comment
  require_base: false            # Comment even on first PR
  require_head: true             # Require head coverage

# Ignore patterns
ignore:
  - "**/*_test.go"              # Ignore test files
  - "**/testdata/**"            # Ignore test data
  - "cmd/migrate-chunks/**"     # Ignore migration tools
  - "cmd/import-file/**"        # Ignore import tools

# Component flags (for detailed coverage tracking)
flags:
  handlers:
    paths:
      - internal/handlers/
  middleware:
    paths:
      - internal/middleware/
  database:
    paths:
      - internal/database/
  utils:
    paths:
      - internal/utils/

security: harden CSP by removing unsafe-inline scripts and stale CDN allowance
  docs/CHANGELOG.md
  internal/middleware/security.go
  internal/middleware/security_test.go
  internal/static/web/admin/assets/admin-login.js
  internal/static/web/admin/assets/admin.js
  internal/static/web/admin/dashboard.html
  internal/static/web/admin/login.html
  internal/static/web/assets/dashboard.js
  internal/static/web/assets/error-theme-toggle.js
  internal/static/web/assets/login.js
  internal/static/web/assets/theme-init.js
  internal/static/web/dashboard.html
  internal/static/web/error.html
  internal/static/web/index.html
  internal/static/web/login.html
  internal/static/web/service-worker.js
Due: middleware

feat: anonymize filenames for E2E encrypted uploads
  docs/CHANGELOG.md
  internal/static/web/admin/assets/admin.js
  internal/static/web/assets/app.js
  internal/static/web/assets/crypto.js
  internal/static/web/assets/dashboard.js
  internal/static/web/assets/login.js
  internal/static/web/service-worker.js
Due: none

fix: resolve lint error and address code review findings
  internal/privacy/office.go
  internal/static/web/assets/app.js
  internal/static/web/assets/crypto.js
Due: none

feat: extend metadata stripping to PDF, MP4/MOV, and MP3 files
  docs/CHANGELOG.md
  docs/SECURITY.md
  go.mod
  go.sum
  internal/privacy/metadata.go
  internal/privacy/metadata_test.go
  internal/privacy/mp3.go
  internal/privacy/mp4.go
  internal/privacy/pdf.go
Due: none

fix: correct CI coverage parsing and document missing env vars
  .github/workflows/build-and-push.yml
  README.md
  docs/SECURITY.md
Due: none

docs: add deployment modes guide framing anonymity vs security duality
  CLAUDE.md
  README.md
  docs/DEPLOYMENT_MODES.md
  docs/README.md
Due: none

docs: simplify README to focus on getting started quickly
  README.md
Due: none

feat: add ClamAV malware scanning integration
  docs/CHANGELOG.md
  docs/DEPLOYMENT_MODES.md
  internal/config/config.go
  internal/database/migrations/020_malware_scanning.sql
  internal/handlers/assembly_worker.go
  internal/handlers/claim.go
  internal/handlers/upload.go
  internal/models/file.go
  internal/repository/file_repository.go
  internal/repository/mock/file_repository.go
  internal/repository/postgres/file_repository.go
  internal/repository/sqlite/file_repository.go
  internal/scanning/scanner.go
  internal/scanning/scanner_test.go
  internal/webhooks/models.go
Due: handlers, database

fix: resolve CI failures in ClamAV integration
  internal/repository/postgres/migrations.go
  internal/scanning/scanner.go
Due: none

feat: enable malware scan status in admin dashboard
  docs/CHANGELOG.md
  internal/handlers/admin.go
  internal/models/file.go
  internal/static/web/admin/assets/admin.js
  internal/static/web/admin/dashboard.html
  internal/static/web/service-worker.js
Due: handlers

chore: bump version to 1.5.4
  docs/CHANGELOG.md
  internal/handlers/version.go
Due: handlers

Update README to reflect version number to 1.5.4
  README.md
Due: none

feat: add Web Share Target API so PWA appears in phone share sheet
  internal/static/web/assets/app.js
  internal/static/web/assets/manifest.json
  internal/static/web/service-worker.js
Due: none

feat: add Web Share Target API so PWA appears in phone share sheet (#251)
  internal/static/web/assets/app.js
  internal/static/web/assets/manifest.json
  internal/static/web/service-worker.js
Due: none

feat: prompt for E2E encryption key when picking up with claim code only
  internal/static/web/assets/app.js
  internal/static/web/assets/style.css
  internal/static/web/index.html
  internal/static/web/service-worker.js
Due: none

feat: prompt for E2E encryption key when picking up with claim code only (#252)
  internal/static/web/assets/app.js
  internal/static/web/assets/style.css
  internal/static/web/index.html
  internal/static/web/service-worker.js
Due: none

fix: align E2E toggle checkbox with lock icon and text
  internal/static/web/assets/style.css
Due: none

fix: use explicit MIME types in share_target so PWA appears in share sheet
  internal/static/web/assets/manifest.json
  internal/static/web/service-worker.js
Due: none

fix: use explicit MIME types in share_target so PWA appears in share sheet (#253)
  internal/static/web/assets/manifest.json
  internal/static/web/service-worker.js
Due: none

fix: serve manifest with application/manifest+json MIME type
  cmd/safeshare/main.go
Due: none

Revert "fix: use explicit MIME types in share_target so PWA appears in share sheet (#253)"
  internal/static/web/assets/manifest.json
  internal/static/web/service-worker.js
Due: none

fix: bump Go toolchain 1.25.8 -> 1.25.9
  .github/workflows/build-and-push.yml
  .github/workflows/security-scan.yml
  docs/CHANGELOG.md
  go.mod
Due: none

fix: bump Go toolchain 1.25.8 -> 1.25.9 (#284)
  .github/workflows/build-and-push.yml
  .github/workflows/security-scan.yml
  docs/CHANGELOG.md
  go.mod
Due: none

feat: per-upload toggle to keep original filename visible on E2E uploads
  docs/CHANGELOG.md
  internal/database/migrations/021_e2e_filename_visibility.sql
  internal/handlers/assembly_worker.go
  internal/handlers/claim.go
  internal/handlers/upload.go
  internal/handlers/upload_chunked.go
  internal/models/file.go
  internal/models/partial_upload.go
  internal/repository/postgres/file_repository.go
  internal/repository/postgres/migrations.go
  internal/repository/postgres/partial_upload_repository.go
  internal/repository/sqlite/file_repository.go
  internal/repository/sqlite/partial_upload_repository.go
  internal/repository/sqlite/partial_upload_repository_test.go
  internal/static/web/assets/app.js
  internal/static/web/assets/chunked-uploader.js
  internal/static/web/assets/style.css
  internal/static/web/index.html
  internal/static/web/service-worker.js
Due: handlers, database

feat: per-upload toggle to keep original filename visible on E2E uploads (#294)
  docs/CHANGELOG.md
  internal/database/migrations/021_e2e_filename_visibility.sql
  internal/handlers/assembly_worker.go
  internal/handlers/claim.go
  internal/handlers/upload.go
  internal/handlers/upload_chunked.go
  internal/models/file.go
  internal/models/partial_upload.go
  internal/repository/postgres/file_repository.go
  internal/repository/postgres/migrations.go
  internal/repository/postgres/partial_upload_repository.go
  internal/repository/sqlite/file_repository.go
  internal/repository/sqlite/partial_upload_repository.go
  internal/repository/sqlite/partial_upload_repository_test.go
  internal/static/web/assets/app.js
  internal/static/web/assets/chunked-uploader.js
  internal/static/web/assets/style.css
  internal/static/web/index.html
  internal/static/web/service-worker.js
Due: handlers, database

fix: tighten E2E hide-filename toggle copy
  internal/static/web/index.html
  internal/static/web/service-worker.js
Due: none

ci: bump Go to 1.25.10 to address net/http CVEs
  .github/workflows/build-and-push.yml
  .github/workflows/security-scan.yml
  go.mod
Due: none

ci: bump Go to 1.25.10 to address net/http CVEs (#299)
  .github/workflows/build-and-push.yml
  .github/workflows/security-scan.yml
  go.mod
Due: none

fix: migrate off deprecated h2c.NewHandler for x/net v0.54.0
  cmd/safeshare/main.go
  go.mod
  go.sum
Due: none

fix(admin): align Files-tab Actions column styling with other tabs
  internal/static/web/admin/assets/admin.css
  internal/static/web/admin/assets/admin.js
  internal/static/web/service-worker.js
Due: none

fix(admin): align Files-tab Actions column styling with other tabs (#300)
  internal/static/web/admin/assets/admin.css
  internal/static/web/admin/assets/admin.js
  internal/static/web/service-worker.js
Due: none

feat(admin): per-row delete on webhook delivery history + badge cleanup
  cmd/safeshare/main.go
  internal/database/webhooks.go
  internal/handlers/webhook_admin.go
  internal/static/web/admin/assets/admin.css
  internal/static/web/admin/assets/admin.js
  internal/static/web/service-worker.js
Due: handlers, database

feat(admin): per-row delete on webhook delivery history + badge cleanup (#301)
  cmd/safeshare/main.go
  internal/database/webhooks.go
  internal/handlers/webhook_admin.go
  internal/static/web/admin/assets/admin.css
  internal/static/web/admin/assets/admin.js
  internal/static/web/service-worker.js
Due: handlers, database

feat(dashboard): add Download File header button, rename Upload Files -> Upload File
  internal/static/web/assets/dashboard.js
  internal/static/web/dashboard.html
  internal/static/web/service-worker.js
Due: none

feat(dashboard): add Download File header button, rename Upload Files -> Upload File (#302)
  internal/static/web/assets/dashboard.js
  internal/static/web/dashboard.html
  internal/static/web/service-worker.js
Due: none

fix(security): SSRF guard on webhook delivery (SH-1.1)
  cmd/safeshare/main.go
  docs/CHANGELOG.md
  internal/config/config.go
  internal/handlers/webhook_admin.go
  internal/webhooks/delivery.go
  internal/webhooks/delivery_test.go
  internal/webhooks/safe_dialer.go
  internal/webhooks/safe_dialer_test.go
Due: handlers

fix(security): SSRF guard on webhook delivery (SH-1.1) (#303)
  cmd/safeshare/main.go
  docs/CHANGELOG.md
  internal/config/config.go
  internal/handlers/webhook_admin.go
  internal/webhooks/delivery.go
  internal/webhooks/delivery_test.go
  internal/webhooks/safe_dialer.go
  internal/webhooks/safe_dialer_test.go
Due: handlers

fix(encryption): use io.ReadFull on SFSE1 decrypt path (SH-1.2)
  docs/CHANGELOG.md
  internal/storage/encrypted_storage.go
  internal/utils/encryption.go
  internal/utils/encryption_test.go
Due: utils

fix(encryption): use io.ReadFull on SFSE1 decrypt path (SH-1.2) (#304)
  docs/CHANGELOG.md
  internal/storage/encrypted_storage.go
  internal/utils/encryption.go
  internal/utils/encryption_test.go
Due: utils

fix(webhooks): per-call HTTP client to fix Timeout race (SH-1.3)
  docs/CHANGELOG.md
  internal/webhooks/delivery.go
  internal/webhooks/delivery_race_test.go
Due: none
