Repository fjmerc/safeshare: changes, and which Codecov flags are due for each by the changed paths.
All: handlers, middleware, database, utils

docs: update CHANGELOG.md for v2.8.3
  docs/CHANGELOG.md
Due: none

chore: bump version to 2.8.3
  internal/handlers/version.go
Due: handlers

quick edit to CHANGELOG.md
  docs/CHANGELOG.md
Due: none

feat: add webhook system for real-time event notifications
  cmd/safeshare/main.go
  docs/CHANGELOG.md
  internal/database/migrations/007_webhooks.sql
  internal/database/webhook_adapter.go
  internal/database/webhooks.go
  internal/handlers/admin.go
  internal/handlers/assembly_worker.go
  internal/handlers/claim_range.go
  internal/handlers/upload.go
  internal/handlers/webhook_admin.go
  internal/handlers/webhook_emitter.go
  internal/webhooks/delivery.go
  internal/webhooks/dispatcher.go
  internal/webhooks/metrics.go
  internal/webhooks/models.go
Due: handlers, database

feat: add webhook system for real-time event notifications (#120)
  cmd/safeshare/main.go
  docs/CHANGELOG.md
  internal/database/migrations/007_webhooks.sql
  internal/database/webhook_adapter.go
  internal/database/webhooks.go
  internal/handlers/admin.go
  internal/handlers/assembly_worker.go
  internal/handlers/claim_range.go
  internal/handlers/upload.go
  internal/handlers/webhook_admin.go
  internal/handlers/webhook_emitter.go
  internal/webhooks/delivery.go
  internal/webhooks/dispatcher.go
  internal/webhooks/metrics.go
  internal/webhooks/models.go
Due: handlers, database

test: add comprehensive test coverage for webhook system and import tool
  cmd/import-file/main_test.go
  internal/handlers/webhook_admin_test.go
  internal/webhooks/delivery_test.go
  internal/webhooks/dispatcher_test.go
  internal/webhooks/models_test.go
Due: none

test: boost test coverage to 63.4% for internal packages
  .github/workflows/build-and-push.yml
  CLAUDE.md
  internal/handlers/upload_chunked_test.go
  internal/metrics/collector_test.go
  internal/metrics/metrics_test.go
Due: none

test: boost test coverage to 63.4% for internal packages (#121)
  .github/workflows/build-and-push.yml
  CLAUDE.md
  internal/handlers/upload_chunked_test.go
  internal/metrics/collector_test.go
  internal/metrics/metrics_test.go
Due: none

fix: improve webhook table alignment and styling in admin dashboard
  docs/CHANGELOG.md
  internal/static/web/admin/assets/admin.css
  internal/static/web/admin/assets/admin.js
  internal/static/web/admin/dashboard.html
Due: none

fix: improve webhook table alignment and styling in admin dashboard (#122)
  docs/CHANGELOG.md
  internal/static/web/admin/assets/admin.css
  internal/static/web/admin/assets/admin.js
  internal/static/web/admin/dashboard.html
Due: none

feat: add webhook format presets for Gotify, ntfy, and Discord
  docs/CHANGELOG.md
  internal/database/migrations/008_webhook_formats.sql
  internal/database/webhooks.go
  internal/handlers/webhook_admin.go
  internal/static/web/admin/assets/admin.css
  internal/static/web/admin/assets/admin.js
  internal/static/web/admin/dashboard.html
  internal/webhooks/dispatcher.go
  internal/webhooks/dispatcher_test.go
  internal/webhooks/models.go
  internal/webhooks/transformer.go
  internal/webhooks/transformer_test.go
Due: handlers, database

feat: add webhook format presets for Gotify, ntfy, and Discord (#123)
  docs/CHANGELOG.md
  internal/database/migrations/008_webhook_formats.sql
  internal/database/webhooks.go
  internal/handlers/webhook_admin.go
  internal/static/web/admin/assets/admin.css
  internal/static/web/admin/assets/admin.js
  internal/static/web/admin/dashboard.html
  internal/webhooks/dispatcher.go
  internal/webhooks/dispatcher_test.go
  internal/webhooks/models.go
  internal/webhooks/transformer.go
  internal/webhooks/transformer_test.go
Due: handlers, database

feat: add webhook service token authentication for Gotify and ntfy
  CLAUDE.md
  docs/CHANGELOG.md
  internal/database/migrations/009_webhook_service_tokens.sql
  internal/database/webhooks.go
  internal/handlers/webhook_admin.go
  internal/static/web/admin/assets/admin.js
  internal/static/web/admin/dashboard.html
  internal/utils/token.go
  internal/utils/token_test.go
  internal/webhooks/delivery.go
  internal/webhooks/delivery_service_token_test.go
  internal/webhooks/dispatcher.go
  internal/webhooks/models.go
Due: handlers, database, utils

feat: add webhook service token authentication for Gotify and ntfy (#124)
  CLAUDE.md
  docs/CHANGELOG.md
  internal/database/migrations/009_webhook_service_tokens.sql
  internal/database/webhooks.go
  internal/handlers/webhook_admin.go
  internal/static/web/admin/assets/admin.js
  internal/static/web/admin/dashboard.html
  internal/utils/token.go
  internal/utils/token_test.go
  internal/webhooks/delivery.go
  internal/webhooks/delivery_service_token_test.go
  internal/webhooks/dispatcher.go
  internal/webhooks/models.go
Due: handlers, database, utils

feat: add file.expired webhook events and fix Gotify webhook URL bug
  cmd/safeshare/main.go
  internal/benchmarks/load_stress_test.go
  internal/database/files.go
  internal/database/files_test.go
  internal/integration/cleanup_test.go
  internal/integration/integration_test.go
  internal/static/web/admin/dashboard.html
  internal/utils/cleanup.go
  internal/webhooks/delivery.go
Due: database, utils

feat: add file.expired webhook events and fix Gotify webhook URL bug (#125)
  cmd/safeshare/main.go
  internal/benchmarks/load_stress_test.go
  internal/database/files.go
  internal/database/files_test.go
  internal/integration/cleanup_test.go
  internal/integration/integration_test.go
  internal/static/web/admin/dashboard.html
  internal/utils/cleanup.go
  internal/webhooks/delivery.go
Due: database, utils

feat: add webhook notifications for download limit expiration and fix token masking bug
  CLAUDE.md
  docs/CHANGELOG.md
  internal/database/webhooks.go
  internal/handlers/claim.go
  internal/handlers/webhook_admin.go
  internal/utils/token.go
  internal/utils/token_test.go
  internal/webhooks/transformer.go
Due: handlers, database, utils

feat: add webhook notifications for download limit expiration and fix token masking bug (#126)
  CLAUDE.md
  docs/CHANGELOG.md
  internal/database/webhooks.go
  internal/handlers/claim.go
  internal/handlers/webhook_admin.go
  internal/utils/token.go
  internal/utils/token_test.go
  internal/webhooks/transformer.go
Due: handlers, database, utils

docs: add webhook API documentation and fix documentation inaccuracies
  docs/API_REFERENCE.md
  docs/ARCHITECTURE.md
  docs/PRODUCTION.md
  docs/README.md
  docs/REVERSE_PROXY.md
  docs/SECURITY_AUDIT.md
Due: none

docs: add webhook API documentation and fix documentation inaccuracies (#127)
  docs/API_REFERENCE.md
  docs/ARCHITECTURE.md
  docs/PRODUCTION.md
  docs/README.md
  docs/REVERSE_PROXY.md
  docs/SECURITY_AUDIT.md
Due: none

fix: correct file.expired webhook timing and add clear delivery history
  cmd/safeshare/main.go
  docs/CHANGELOG.md
  internal/database/webhooks.go
  internal/database/webhooks_test.go
  internal/handlers/claim.go
  internal/handlers/webhook_admin.go
  internal/handlers/webhook_admin_test.go
  internal/static/web/admin/assets/admin.js
  internal/static/web/admin/dashboard.html
Due: handlers, database

fix: correct file.expired webhook timing and add clear delivery history (#128)
  cmd/safeshare/main.go
  docs/CHANGELOG.md
  internal/database/webhooks.go
  internal/database/webhooks_test.go
  internal/handlers/claim.go
  internal/handlers/webhook_admin.go
  internal/handlers/webhook_admin_test.go
  internal/static/web/admin/assets/admin.js
  internal/static/web/admin/dashboard.html
Due: handlers, database

fix: resolve file.expired webhooks not triggering for time-based expiration
  .gitignore
  docs/CHANGELOG.md
  internal/database/files.go
  internal/database/partial_uploads.go
  internal/integration/integration_test.go
  internal/metrics/collector.go
  internal/webhooks/dispatcher.go
Due: database

fix: resolve file.expired webhooks not triggering for time-based expiration (#129)
  .gitignore
  docs/CHANGELOG.md
  internal/database/files.go
  internal/database/partial_uploads.go
  internal/integration/integration_test.go
  internal/metrics/collector.go
  internal/webhooks/dispatcher.go
Due: database

fix: add tzdata package for timezone support in Docker container
  Dockerfile
  docs/CHANGELOG.md
Due: none

fix: add tzdata package for timezone support in Docker container (#130)
  Dockerfile
  docs/CHANGELOG.md
Due: none

fix: use RFC3339 format for all datetime storage and comparison
  docs/CHANGELOG.md
  internal/database/admin.go
  internal/database/users.go
Due: database

fix: use RFC3339 format for all datetime storage and comparison (#131)
  docs/CHANGELOG.md
  internal/database/admin.go
  internal/database/users.go
Due: database

feat: add API token authentication for programmatic access
  cmd/safeshare/main.go
  docs/CHANGELOG.md
  internal/database/api_tokens.go
  internal/database/migrations/010_api_tokens.sql
  internal/handlers/api_tokens.go
  internal/handlers/api_tokens_test.go
  internal/middleware/user_auth.go
  internal/middleware/user_auth_test.go
  internal/models/api_token.go
  internal/utils/api_token.go
  internal/utils/api_token_test.go
Due: handlers, middleware, database, utils

docs: add API token authentication to API reference
  docs/API_REFERENCE.md
Due: none

feat: add API token authentication for programmatic access (#132)
  cmd/safeshare/main.go
  docs/API_REFERENCE.md
  docs/CHANGELOG.md
  internal/database/api_tokens.go
  internal/database/migrations/010_api_tokens.sql
  internal/handlers/api_tokens.go
  internal/handlers/api_tokens_test.go
  internal/middleware/user_auth.go
  internal/middleware/user_auth_test.go
  internal/models/api_token.go
  internal/utils/api_token.go
  internal/utils/api_token_test.go
Due: handlers, middleware, database, utils

docs: add OpenAPI 3.0 specification for SDK generation
  docs/SDK_INTEGRATION_ROADMAP.md
  docs/openapi.yaml
Due: none

docs: add OpenAPI 3.0 specification for SDK generation (#133)
  docs/SDK_INTEGRATION_ROADMAP.md
  docs/openapi.yaml
Due: none

feat: add Python SDK for SafeShare API
  docs/SDK_INTEGRATION_ROADMAP.md
  sdk/python/README.md
  sdk/python/examples/chunked_upload.py
  sdk/python/examples/download_file.py
  sdk/python/examples/file_management.py
  sdk/python/examples/simple_upload.py
  sdk/python/pyproject.toml
  sdk/python/safeshare/__init__.py
  sdk/python/safeshare/client.py
  sdk/python/safeshare/exceptions.py
  sdk/python/safeshare/models.py
  sdk/python/tests/__init__.py
  sdk/python/tests/test_client.py
Due: none

feat: add Python SDK for SafeShare API (#134)
  docs/SDK_INTEGRATION_ROADMAP.md
  sdk/python/README.md
  sdk/python/examples/chunked_upload.py
  sdk/python/examples/download_file.py
  sdk/python/examples/file_management.py
  sdk/python/examples/simple_upload.py
  sdk/python/pyproject.toml
  sdk/python/safeshare/__init__.py
  sdk/python/safeshare/client.py
  sdk/python/safeshare/exceptions.py
  sdk/python/safeshare/models.py
  sdk/python/tests/__init__.py
  sdk/python/tests/test_client.py
Due: none

feat: add TypeScript/JavaScript SDK for SafeShare API
  docs/SDK_INTEGRATION_ROADMAP.md
  sdk/typescript/README.md
  sdk/typescript/examples/download.ts
  sdk/typescript/examples/file-management.ts
  sdk/typescript/examples/token-management.ts
  sdk/typescript/examples/upload.ts
  sdk/typescript/package.json
  sdk/typescript/src/client.ts
  sdk/typescript/src/errors.ts
  sdk/typescript/src/index.ts
  sdk/typescript/src/types.ts
  sdk/typescript/tests/client.test.ts
  sdk/typescript/tsconfig.json
  sdk/typescript/tsup.config.ts
Due: none

feat: add TypeScript/JavaScript SDK for SafeShare API (#135)
  docs/SDK_INTEGRATION_ROADMAP.md
  sdk/typescript/README.md
  sdk/typescript/examples/download.ts
  sdk/typescript/examples/file-management.ts
  sdk/typescript/examples/token-management.ts
  sdk/typescript/examples/upload.ts
  sdk/typescript/package.json
  sdk/typescript/src/client.ts
  sdk/typescript/src/errors.ts
  sdk/typescript/src/index.ts
  sdk/typescript/src/types.ts
  sdk/typescript/tests/client.test.ts
  sdk/typescript/tsconfig.json
  sdk/typescript/tsup.config.ts
Due: none

feat: add Go SDK and CLI tool for SafeShare API
  docs/SDK_INTEGRATION_ROADMAP.md
  sdk/go/README.md
  sdk/go/client.go
  sdk/go/client_test.go
  sdk/go/cmd/safeshare-cli/config.go
  sdk/go/cmd/safeshare-cli/download.go
  sdk/go/cmd/safeshare-cli/list.go
  sdk/go/cmd/safeshare-cli/main.go
  sdk/go/cmd/safeshare-cli/upload.go
  sdk/go/download.go
  sdk/go/errors.go
  sdk/go/files.go
  sdk/go/go.mod
  sdk/go/go.sum
  sdk/go/tokens.go
  sdk/go/types.go
  sdk/go/upload.go
Due: none

feat: add Go SDK and CLI tool for SafeShare API (#136)
  docs/SDK_INTEGRATION_ROADMAP.md
  sdk/go/README.md
  sdk/go/client.go
  sdk/go/client_test.go
  sdk/go/cmd/safeshare-cli/config.go
  sdk/go/cmd/safeshare-cli/download.go
  sdk/go/cmd/safeshare-cli/list.go
  sdk/go/cmd/safeshare-cli/main.go
  sdk/go/cmd/safeshare-cli/upload.go
  sdk/go/download.go
  sdk/go/errors.go
  sdk/go/files.go
  sdk/go/go.mod
  sdk/go/go.sum
  sdk/go/tokens.go
  sdk/go/types.go
  sdk/go/upload.go
Due: none

feat: add Token Management UI and fix dashboard authentication loop
  docs/CHANGELOG.md
  internal/handlers/upload.go
  internal/handlers/upload_chunked.go
  internal/handlers/user_auth.go
  internal/handlers/user_dashboard.go
  internal/static/web/dashboard.html
Due: handlers

Path conditions:
  handlers: any of: internal/handlers/, but not: **/*_test.go, **/testdata/**, cmd/migrate-chunks/**, cmd/import-file/**
  middleware: any of: internal/middleware/, but not: **/*_test.go, **/testdata/**, cmd/migrate-chunks/**, cmd/import-file/**
  database: any of: internal/database/, but not: **/*_test.go, **/testdata/**, cmd/migrate-chunks/**, cmd/import-file/**
  utils: any of: internal/utils/, but not: **/*_test.go, **/testdata/**, cmd/migrate-chunks/**, cmd/import-file/**
