Repository fjmerc/safeshare: changes, and which Codecov flags are due for each by the changed paths.
All: handlers, middleware, database, utils

.codecov.yml:

# Codecov Configuration
# SafeShare - Phase 1 CI/CD Integration
# Current baseline coverage: 23.4%
# Threshold set to 20% for safety margin
# Future improvements planned: 35% → 50% → 80%

coverage:
  status:
    project:
      default:
        target: 20%              # Baseline coverage target
        threshold: 1%            # Allow 1% drop without failing
        informational: false     # Fail CI if below threshold
    patch:
      default:
        informational: true      # Don't require coverage on new code yet (Phase 1)

  precision: 2                   # Display 2 decimal places
  round: down                    # Round down for conservative estimates
  range: "70...100"             # Green coverage range

# Comment configuration for PRs
comment:
  layout: "diff, files, footer"
  behavior: default              # Update existing comments
  require_changes: false         # Always comment
  require_base: false            # Comment even on first PR
  require_head: true             # Require head coverage

# Ignore patterns
ignore:
  - "**/*_test.go"              # Ignore test files
  - "**/testdata/**"            # Ignore test data
  - "cmd/migrate-chunks/**"     # Ignore migration tools
  - "cmd/import-file/**"        # Ignore import tools

# Component flags (for detailed coverage tracking)
flags:
  handlers:
    paths:
      - internal/handlers/
  middleware:
    paths:
      - internal/middleware/
  database:
    paths:
      - internal/database/
  utils:
    paths:
      - internal/utils/

feat: add SDK contract tests to catch API mismatches
  go.mod
  internal/sdk_contract/contract_test.go
  sdk/go/client.go
  sdk/typescript/src/client.ts
Due: none

feat: add SDK contract tests to catch API mismatches (#155)
  go.mod
  internal/sdk_contract/contract_test.go
  sdk/go/client.go
  sdk/typescript/src/client.ts
Due: none

fix: copy SDK go.mod before go mod download in Dockerfile
  Dockerfile
Due: none

fix: copy SDK go.mod before go mod download in Dockerfile (#156)
  Dockerfile
Due: none

fix(sdk): use completed_downloads for accurate download counts
  internal/sdk_contract/contract_test.go
  sdk/go/cmd/safeshare-cli/list.go
  sdk/go/files.go
  sdk/go/types.go
  sdk/python/examples/file_management.py
  sdk/typescript/README.md
  sdk/typescript/examples/file-management.ts
  sdk/typescript/src/client.ts
  sdk/typescript/src/types.ts
Due: none

fix(sdk): use completed_downloads for accurate download counts (#157)
  internal/sdk_contract/contract_test.go
  sdk/go/cmd/safeshare-cli/list.go
  sdk/go/files.go
  sdk/go/types.go
  sdk/python/examples/file_management.py
  sdk/typescript/README.md
  sdk/typescript/examples/file-management.ts
  sdk/typescript/src/client.ts
  sdk/typescript/src/types.ts
Due: none

chore: bump version to v1.4.1
  docs/CHANGELOG.md
  internal/handlers/version.go
Due: handlers

feat: add backup/restore system with Admin UI
  cmd/safeshare-backup/main.go
  cmd/safeshare/main.go
  docs/BACKUP_RESTORE.md
  internal/backup/backup.go
  internal/backup/backup_test.go
  internal/backup/files.go
  internal/backup/manifest.go
  internal/backup/restore.go
  internal/backup/sqlite.go
  internal/backup/types.go
  internal/backup/verify.go
  internal/config/config.go
  internal/handlers/admin_backup.go
  internal/static/web/admin/assets/admin.css
  internal/static/web/admin/assets/admin.js
  internal/static/web/admin/dashboard.html
  internal/static/web/service-worker.js
Due: handlers

fix: remove unused BackupJobManager code
  internal/handlers/admin_backup.go
Due: handlers

test: add comprehensive tests for backup package and handlers
  internal/backup/backup_test.go
  internal/handlers/admin_backup_test.go
Due: none

fix: resolve QEMU emulation failure for ARM64 Docker builds
  Dockerfile
Due: none

feat: add backup/restore system with Admin UI (#158)
  Dockerfile
  cmd/safeshare-backup/main.go
  cmd/safeshare/main.go
  docs/BACKUP_RESTORE.md
  internal/backup/backup.go
  internal/backup/backup_test.go
  internal/backup/files.go
  internal/backup/manifest.go
  internal/backup/restore.go
  internal/backup/sqlite.go
  internal/backup/types.go
  internal/backup/verify.go
  internal/config/config.go
  internal/handlers/admin_backup.go
  internal/handlers/admin_backup_test.go
  internal/static/web/admin/assets/admin.css
  internal/static/web/admin/assets/admin.js
  internal/static/web/admin/dashboard.html
  internal/static/web/service-worker.js
Due: handlers

feat: add backup download functionality to Admin UI
  cmd/safeshare/main.go
  internal/handlers/admin_backup.go
  internal/static/web/admin/assets/admin.js
  internal/static/web/service-worker.js
Due: handlers

docs: add backup download documentation
  CLAUDE.md
  docs/API_REFERENCE_FOR_TESTING.md
  docs/ARCHITECTURE.md
  docs/BACKUP_RESTORE.md
Due: none

feat: add orphaned file cleanup to cleanup worker
  internal/database/files.go
  internal/database/files_test.go
  internal/handlers/admin.go
  internal/handlers/admin_backup.go
  internal/integration/cleanup_test.go
  internal/utils/cleanup.go
Due: handlers, database, utils

feat: add backup download functionality to Admin UI (#159)
  CLAUDE.md
  cmd/safeshare/main.go
  docs/API_REFERENCE_FOR_TESTING.md
  docs/ARCHITECTURE.md
  docs/BACKUP_RESTORE.md
  internal/database/files.go
  internal/database/files_test.go
  internal/handlers/admin.go
  internal/handlers/admin_backup.go
  internal/integration/cleanup_test.go
  internal/static/web/admin/assets/admin.js
  internal/static/web/service-worker.js
  internal/utils/cleanup.go
Due: handlers, database, utils

added Safeshare-Planning directory to .gitignore file
  .gitignore
Due: none

feat: add repository interface definitions for database abstraction
  internal/repository/admin_repository.go
  internal/repository/api_token_repository.go
  internal/repository/file_repository.go
  internal/repository/partial_upload_repository.go
  internal/repository/repository.go
  internal/repository/settings_repository.go
  internal/repository/user_repository.go
  internal/repository/webhook_repository.go
Due: none

feat(repository): implement SQLiteFileRepository
  internal/repository/sqlite/file_repository.go
  internal/repository/sqlite/file_repository_test.go
Due: none

feat(repository): implement SQLiteUserRepository
  internal/repository/sqlite/common.go
  internal/repository/sqlite/file_repository.go
  internal/repository/sqlite/user_repository.go
  internal/repository/sqlite/user_repository_test.go
  internal/repository/user_repository.go
Due: none

feat(repository): implement SQLiteAdminRepository
  internal/repository/sqlite/admin_repository.go
Due: none

feat(repository): implement SQLiteSettingsRepository
  internal/repository/sqlite/settings_repository.go
  internal/repository/sqlite/settings_repository_test.go
Due: none

feat(repository): implement SQLitePartialUploadRepository
  internal/repository/sqlite/partial_upload_repository.go
  internal/repository/sqlite/partial_upload_repository_test.go
Due: none

feat(repository): implement SQLiteWebhookRepository (Task 1.2.6)
  internal/repository/sqlite/webhook_repository.go
  internal/repository/sqlite/webhook_repository_test.go
Due: none

feat(repository): implement SQLiteAPITokenRepository (Task 1.2.7)
  internal/repository/sqlite/api_token_repository.go
  internal/repository/sqlite/api_token_repository_test.go
Due: none

feat(repository): add repository factory for SQLite implementations
  internal/repository/factory.go
  internal/repository/repository.go
  internal/repository/sqlite/factory.go
  internal/repository/sqlite/factory_test.go
Due: none

feat(handlers): refactor all handlers to repository pattern (Group 1.3)
  go.mod
  internal/handlers/admin.go
  internal/handlers/admin_test.go
  internal/handlers/admin_users.go
  internal/handlers/admin_users_test.go
  internal/handlers/assembly_worker.go
  internal/handlers/claim.go
  internal/handlers/claim_range.go
  internal/handlers/claim_range_test.go
  internal/handlers/claim_test.go
  internal/handlers/upload.go
  internal/handlers/upload_chunked.go
  internal/handlers/upload_chunked_test.go
  internal/handlers/upload_test.go
  internal/handlers/user_auth.go
  internal/handlers/user_auth_test.go
  internal/handlers/user_dashboard.go
  internal/handlers/user_dashboard_test.go
  internal/repository/factory.go
  internal/repository/repository.go
  internal/repository/sqlite/common.go
  internal/repository/sqlite/factory.go
  internal/repository/sqlite/user_repository.go
  internal/repository/user_repository.go
  internal/utils/validation.go
  internal/utils/validation_test.go
Due: handlers, utils

feat(utils): refactor utility workers to repository pattern (Task 1.3.7)
  internal/handlers/admin.go
  internal/middleware/admin.go
  internal/middleware/admin_test.go
  internal/middleware/ipblock.go
  internal/middleware/ipblock_test.go
  internal/middleware/user_auth.go
  internal/middleware/user_auth_test.go
  internal/utils/assembly_recovery.go
  internal/utils/cleanup.go
Due: handlers, middleware, utils

Update version number to 1.4.1
  README.md
Due: none

feat(main): wire repositories and refactor tests (Task 1.3.8)
  cmd/safeshare/main.go
  internal/benchmarks/database_benchmark_test.go
  internal/benchmarks/load_stress_test.go
  internal/benchmarks/load_test.go
  internal/benchmarks/upload_benchmark_test.go
  internal/edgecases/boundary_test.go
  internal/edgecases/error_recovery_test.go
  internal/integration/cleanup_chunked_test.go
  internal/integration/cleanup_test.go
  internal/integration/integration_test.go
  internal/repository/sqlite/partial_upload_repository.go
  internal/sdk_contract/contract_test.go
  internal/testutil/testutil.go
Due: none

feat(storage): implement storage backend interface (Group 1.4)
  cmd/safeshare/main.go
  internal/handlers/storage.go
  internal/storage/encrypted_storage.go
  internal/storage/encrypted_storage_test.go
  internal/storage/filesystem/storage.go
  internal/storage/filesystem/storage_test.go
  internal/storage/interface.go
Due: handlers

feat(config): implement feature flags system (Group 1.5)
  cmd/safeshare/main.go
  internal/config/config.go
  internal/config/features.go
  internal/database/migrations/011_feature_flags.sql
  internal/handlers/admin_features.go
  internal/middleware/feature_flags.go
  internal/repository/settings_repository.go
  internal/repository/sqlite/settings_repository.go
  internal/repository/sqlite/settings_repository_test.go
Due: handlers, middleware, database

feat(testing): implement mock repositories and storage (Group 1.6)
  internal/repository/mock/file_repository.go
  internal/repository/mock/file_repository_test.go
  internal/repository/mock/user_repository.go
  internal/repository/mock/user_repository_test.go
  internal/storage/mock/storage.go
  internal/storage/mock/storage_test.go
  internal/testutil/mocks.go
  internal/testutil/mocks_test.go
Due: none

feat(postgres): implement PostgreSQL repository backend (Group 2.1)
  go.mod
  go.sum
  internal/config/config.go
  internal/repository/factory.go
  internal/repository/postgres/admin_repository.go
  internal/repository/postgres/api_token_repository.go
  internal/repository/postgres/common.go
  internal/repository/postgres/factory.go
  internal/repository/postgres/file_repository.go
  internal/repository/postgres/migrations.go
  internal/repository/postgres/partial_upload_repository.go
  internal/repository/postgres/settings_repository.go
  internal/repository/postgres/user_repository.go
  internal/repository/postgres/webhook_repository.go
  internal/repository/sqlite/factory.go
Due: none

feat(ha): implement high availability support (Group 2.3)
  cmd/safeshare/main.go
  docs/HA_DEPLOYMENT.md
  go.mod
  go.sum
  internal/config/config.go
  internal/database/migrations/012_rate_limits.sql
  internal/database/migrations/013_distributed_locks.sql
  internal/handlers/health.go
  internal/handlers/upload.go
  internal/handlers/upload_chunked.go
  internal/middleware/ratelimit_db.go
  internal/models/file.go
  internal/repository/factory.go
  internal/repository/health_repository.go
  internal/repository/lock_repository.go
  internal/repository/postgres/factory.go
  internal/repository/postgres/health_repository.go
  internal/repository/postgres/lock_repository.go
  internal/repository/postgres/migrations.go
  internal/repository/postgres/rate_limit_repository.go
  internal/repository/rate_limit_repository.go
  internal/repository/sqlite/factory.go
  internal/repository/sqlite/health_repository.go
  internal/repository/sqlite/lock_repository.go
  internal/repository/sqlite/lock_repository_test.go
  internal/repository/sqlite/rate_limit_repository.go
  internal/repository/sqlite/rate_limit_repository_test.go
  internal/storage/encrypted_storage.go
  internal/storage/filesystem/storage.go
  internal/storage/interface.go
  internal/storage/mock/storage.go
  internal/storage/s3/encrypted_storage.go
  internal/storage/s3/encrypted_storage_test.go
  internal/storage/s3/storage.go
  internal/storage/s3/storage_test.go
  internal/utils/distributed_lock.go
  internal/utils/upload_tracker.go
Due: handlers, middleware, database, utils

feat(backup): implement automated backup scheduler (Group 2.4)
  cmd/safeshare/main.go
  internal/backup/scheduler.go
  internal/config/config.go
  internal/database/migrations/014_backup_scheduler.sql
  internal/handlers/admin_backup_scheduler.go
  internal/repository/backup_scheduler_repository.go
  internal/repository/factory.go
  internal/repository/postgres/backup_scheduler_repository.go
  internal/repository/postgres/factory.go
  internal/repository/postgres/migrations.go
  internal/repository/sqlite/backup_scheduler_repository.go
  internal/repository/sqlite/factory.go
Due: handlers, database

feat(api-tokens): implement token rotation endpoint (Task 3.3.1)
  cmd/safeshare/main.go
  internal/handlers/api_tokens.go
  internal/models/api_token.go
  internal/repository/api_token_repository.go
  internal/repository/postgres/api_token_repository.go
  internal/repository/sqlite/api_token_repository.go
  internal/repository/sqlite/factory.go
Due: handlers

feat(api-tokens): implement token usage audit logging (Task 3.3.2)
  cmd/safeshare/main.go
  internal/database/migrations/015_api_token_usage.sql
  internal/handlers/admin_token_usage.go
  internal/middleware/token_audit.go
  internal/models/api_token_audit.go
  internal/repository/api_token_repository.go
  internal/repository/postgres/api_token_repository.go
  internal/repository/postgres/migrations.go
  internal/repository/sqlite/api_token_repository.go
Due: handlers, middleware, database

feat(api-tokens): implement token usage statistics (Task 3.3.3)
  cmd/safeshare/main.go
  internal/database/migrations/016_api_token_usage_stats_indexes.sql
  internal/handlers/api_tokens.go
  internal/models/api_token.go
  internal/models/api_token_audit.go
  internal/repository/api_token_repository.go
  internal/repository/postgres/api_token_repository.go
  internal/repository/sqlite/api_token_repository.go
  internal/repository/sqlite/api_token_repository_test.go
Due: handlers, database

feat(api-tokens): implement configurable token limits (Task 3.3.4)
  cmd/safeshare/main.go
  internal/config/config.go
  internal/handlers/api_tokens.go
  internal/handlers/api_tokens_test.go
  internal/repository/api_token_repository.go
  internal/repository/postgres/api_token_repository.go
  internal/repository/sqlite/api_token_repository.go
Due: handlers
