Repository fjmerc/safeshare: changes, and which Codecov flags are due for each by the changed paths.
All: handlers, middleware, database, utils

.codecov.yml:

# Codecov Configuration
# SafeShare - Phase 1 CI/CD Integration
# Current baseline coverage: 23.4%
# Threshold set to 20% for safety margin
# Future improvements planned: 35% → 50% → 80%

coverage:
  status:
    project:
      default:
        target: 20%              # Baseline coverage target
        threshold: 1%            # Allow 1% drop without failing
        informational: false     # Fail CI if below threshold
    patch:
      default:
        informational: true      # Don't require coverage on new code yet (Phase 1)

  precision: 2                   # Display 2 decimal places
  round: down                    # Round down for conservative estimates
  range: "70...100"             # Green coverage range

# Comment configuration for PRs
comment:
  layout: "diff, files, footer"
  behavior: default              # Update existing comments
  require_changes: false         # Always comment
  require_base: false            # Comment even on first PR
  require_head: true             # Require head coverage

# Ignore patterns
ignore:
  - "**/*_test.go"              # Ignore test files
  - "**/testdata/**"            # Ignore test data
  - "cmd/migrate-chunks/**"     # Ignore migration tools
  - "cmd/import-file/**"        # Ignore import tools

# Component flags (for detailed coverage tracking)
flags:
  handlers:
    paths:
      - internal/handlers/
  middleware:
    paths:
      - internal/middleware/
  database:
    paths:
      - internal/database/
  utils:
    paths:
      - internal/utils/

fix: add trusted proxy header validation to prevent IP spoofing (#92)
  cmd/safeshare/main.go
  docs/CHANGELOG.md
  internal/config/config.go
  internal/handlers/helpers.go
  internal/handlers/helpers_test.go
  internal/integration/integration_test.go
  internal/middleware/helpers.go
  internal/middleware/ipblock.go
  internal/middleware/ipblock_test.go
  internal/middleware/ratelimit.go
  internal/middleware/ratelimit_test.go
  internal/utils/ipvalidation.go
Due: handlers, middleware, utils

fix: add error logging for session activity updates in OptionalUserAuth
  docs/CHANGELOG.md
  internal/middleware/user_auth.go
Due: middleware

fix: add error logging for session activity updates in OptionalUserAuth (#93)
  docs/CHANGELOG.md
  internal/middleware/user_auth.go
Due: middleware

feat: add defense-in-depth validation for stored filenames
  docs/CHANGELOG.md
  internal/database/files.go
  internal/handlers/admin.go
  internal/handlers/claim.go
  internal/handlers/user_dashboard.go
  internal/utils/validation.go
  internal/utils/validation_test.go
Due: handlers, database, utils

fix: correct variable names in validation error logging
  internal/handlers/admin.go
  internal/handlers/user_dashboard.go
Due: handlers

feat: add defense-in-depth validation for stored filenames (#94)
  docs/CHANGELOG.md
  internal/database/files.go
  internal/handlers/admin.go
  internal/handlers/claim.go
  internal/handlers/user_dashboard.go
  internal/utils/validation.go
  internal/utils/validation_test.go
Due: handlers, database, utils

fix: prevent orphaned files in cleanup job by deleting file before database record
  docs/CHANGELOG.md
  internal/database/files.go
  internal/database/files_test.go
Due: database

fix: prevent orphaned files in cleanup job by deleting file before database record (#95)
  docs/CHANGELOG.md
  internal/database/files.go
  internal/database/files_test.go
Due: database

perf: optimize non-encrypted file downloads with streaming
  internal/handlers/claim_range.go
Due: handlers

perf: optimize cleanup with batch DELETE operations
  internal/database/files.go
Due: database

docs: update CHANGELOG.md with performance optimizations
  docs/CHANGELOG.md
Due: none

perf: optimize downloads and cleanup operations (#96)
  docs/CHANGELOG.md
  internal/database/files.go
  internal/handlers/claim_range.go
Due: handlers, database

feat: add share file functionality with Web Share API support
  docs/CHANGELOG.md
  internal/static/web/assets/app.js
  internal/static/web/assets/style.css
  internal/static/web/index.html
Due: none

feat: add share file functionality with Web Share API support (#97)
  docs/CHANGELOG.md
  internal/static/web/assets/app.js
  internal/static/web/assets/style.css
  internal/static/web/index.html
Due: none

feat: add never-expire option for file uploads
  internal/handlers/assembly_worker.go
  internal/handlers/upload.go
  internal/handlers/upload_chunked.go
  internal/static/web/admin/assets/admin.js
  internal/static/web/assets/app.js
  internal/static/web/assets/style.css
  internal/static/web/index.html
Due: handlers

test: update tests for never-expire functionality
  internal/handlers/upload_chunked_test.go
  internal/handlers/upload_test.go
Due: none

test: update boundary test for never-expire support
  internal/edgecases/boundary_test.go
Due: none

fix: improve tooltip visibility and overflow handling
  internal/static/web/assets/style.css
Due: none

feat: add never-expire option for file uploads (#98)
  internal/edgecases/boundary_test.go
  internal/handlers/assembly_worker.go
  internal/handlers/upload.go
  internal/handlers/upload_chunked.go
  internal/handlers/upload_chunked_test.go
  internal/handlers/upload_test.go
  internal/static/web/admin/assets/admin.js
  internal/static/web/assets/app.js
  internal/static/web/assets/style.css
  internal/static/web/index.html
Due: handlers

fix: improve resumable download UI consistency and error handling
  internal/static/web/assets/app.js
  internal/static/web/assets/resumable-downloader.js
  internal/static/web/assets/style.css
  internal/static/web/index.html
Due: none

fix: improve resumable download UI consistency and error handling (#99)
  internal/static/web/assets/app.js
  internal/static/web/assets/resumable-downloader.js
  internal/static/web/assets/style.css
  internal/static/web/index.html
Due: none

fix: use backend download_url in dashboard copy link button
  internal/static/web/dashboard.html
Due: none

feat: make encryption optional in import-tool
  cmd/import-file/main.go
Due: none

build: include admin tools in Docker image
  Dockerfile
Due: none

build: include admin tools in Docker image (#100)
  Dockerfile
Due: none

test: remove outdated import-tool encryption key requirement test
  cmd/import-file/main_test.go
Due: none

docs: update admin tools READMEs for Docker deployment and optional encryption
  cmd/import-file/README.md
  cmd/migrate-chunks/README.md
Due: none

docs: update admin tools READMEs for Docker deployment and optional encryption (#101)
  cmd/import-file/README.md
  cmd/migrate-chunks/README.md
Due: none

chore: bump version to 2.7.0
  docs/CHANGELOG.md
  internal/handlers/version.go
Due: handlers

fix: import-tool --expires 0 now correctly sets files to never expire
  cmd/import-file/main.go
  docs/CHANGELOG.md
Due: none

fix: import-tool --expires 0 now correctly sets files to never expire (#102)
  cmd/import-file/main.go
  docs/CHANGELOG.md
Due: none

feat: add share modal to dashboard file listing
  docs/CHANGELOG.md
  internal/static/web/dashboard.html
Due: none

feat: add share modal to dashboard file listing (#103)
  docs/CHANGELOG.md
  internal/static/web/dashboard.html
Due: none

feat: add Progressive Web App (PWA) support
  cmd/safeshare/main.go
  cmd/safeshare/main_test.go
  docs/CHANGELOG.md
  internal/static/web/assets/app.js
  internal/static/web/assets/manifest.json
  internal/static/web/service-worker.js
Due: none

feat: add Progressive Web App (PWA) support (#104)
  cmd/safeshare/main.go
  cmd/safeshare/main_test.go
  docs/CHANGELOG.md
  internal/static/web/assets/app.js
  internal/static/web/assets/manifest.json
  internal/static/web/service-worker.js
Due: none

feat: change user dashboard date format to mm/dd/yy
  internal/static/web/dashboard.html
Due: none

feat: add file renaming functionality to user dashboard
  cmd/safeshare/main.go
  internal/database/users.go
  internal/handlers/user_dashboard.go
  internal/handlers/user_dashboard_test.go
  internal/static/web/dashboard.html
Due: handlers, database

refactor: move edit icon inline with filename for better UX
  internal/static/web/dashboard.html
Due: none

fix: prevent edit icon from being cut off by text truncation
  internal/static/web/dashboard.html
Due: none

feat: add time to date format for uploaded and expires columns
  internal/static/web/dashboard.html
Due: none
