Repository fjmerc/safeshare: changes, and which Codecov flags are due for each by the changed paths.
All: handlers, middleware, database, utils

feat: add Token Management UI and fix dashboard authentication loop (#137)
  docs/CHANGELOG.md
  internal/handlers/upload.go
  internal/handlers/upload_chunked.go
  internal/handlers/user_auth.go
  internal/handlers/user_dashboard.go
  internal/static/web/dashboard.html
Due: handlers

docs: comprehensive documentation improvements
  .gitignore
  deploy/grafana/safeshare-dashboard.json
  docs/API_REFERENCE.md
  docs/API_VERSIONING.md
  docs/ARCHITECTURE.md
  docs/CHUNKED_UPLOAD.md
  docs/CONTRIBUTING.md
  docs/PRODUCTION.md
  docs/README.md
  docs/REVERSE_PROXY.md
  docs/SECURITY.md
  docs/TROUBLESHOOTING.md
  docs/UPGRADING.md
  sdk/go/README.md
  sdk/python/README.md
  sdk/typescript/README.md
Due: none

docs: comprehensive documentation improvements (#138)
  .gitignore
  deploy/grafana/safeshare-dashboard.json
  docs/API_REFERENCE.md
  docs/API_VERSIONING.md
  docs/ARCHITECTURE.md
  docs/CHUNKED_UPLOAD.md
  docs/CONTRIBUTING.md
  docs/PRODUCTION.md
  docs/README.md
  docs/REVERSE_PROXY.md
  docs/SECURITY.md
  docs/TROUBLESHOOTING.md
  docs/UPGRADING.md
  sdk/go/README.md
  sdk/python/README.md
  sdk/typescript/README.md
Due: none

fix: resolve test panics and context key mismatches in handler tests
  internal/handlers/upload_chunked_test.go
  internal/handlers/upload_test.go
  internal/handlers/user_auth_test.go
  internal/handlers/user_dashboard_test.go
Due: none

fix: resolve test panics and context key mismatches in handler tests (#139)
  internal/handlers/upload_chunked_test.go
  internal/handlers/upload_test.go
  internal/handlers/user_auth_test.go
  internal/handlers/user_dashboard_test.go
Due: none

fix: filter revoked tokens from user dashboard token list
  docs/CHANGELOG.md
  internal/database/api_tokens.go
Due: database

fix: filter revoked tokens from user dashboard token list (#140)
  docs/CHANGELOG.md
  internal/database/api_tokens.go
Due: database

docs: version reset to v1.0.0 for Go module compatibility
  docs/CHANGELOG.md
  docs/VERSION_STRATEGY.md
  internal/handlers/version.go
Due: handlers

docs: version reset to v1.0.0 for Go module compatibility (#141)
  docs/CHANGELOG.md
  docs/VERSION_STRATEGY.md
  internal/handlers/version.go
Due: handlers

chore: bump version to v1.3.0
  docs/CHANGELOG.md
  internal/handlers/version.go
Due: handlers

chore: bump version to v1.3.1
  docs/CHANGELOG.md
  internal/handlers/version.go
Due: handlers

refactor: reduce cyclomatic complexity for Go Report Card compliance
  internal/config/config.go
  internal/handlers/config_assistant.go
  internal/handlers/upload.go
  internal/metrics/middleware.go
Due: handlers

refactor: reduce cyclomatic complexity for Go Report Card compliance (#143)
  internal/config/config.go
  internal/handlers/config_assistant.go
  internal/handlers/upload.go
  internal/metrics/middleware.go
Due: handlers

chore: bump version to v1.4.0
  docs/CHANGELOG.md
  internal/handlers/version.go
Due: handlers

docs: update README version from 2.8.0 to 1.4.0
  README.md
Due: none

docs: update README version from 2.8.0 to 1.4.0 (#144)
  README.md
Due: none

fix: bump service worker cache version to fix stale dashboard
  internal/static/web/service-worker.js
Due: none

fix: bump service worker cache version to fix stale dashboard (#145)
  internal/static/web/service-worker.js
Due: none

docs: add service worker cache version bump to frontend checklist
  CLAUDE.md
Due: none

fix: add golangci-lint and fix detected issues
  .golangci.yml
  internal/handlers/health.go
  internal/handlers/upload.go
  internal/handlers/user_auth.go
  internal/middleware/logging.go
Due: handlers, middleware

ci: replace go vet with golangci-lint in CI workflow
  .github/workflows/build-and-push.yml
Due: none

fix: add golangci-lint and fix detected issues (#146)
  .github/workflows/build-and-push.yml
  .golangci.yml
  internal/handlers/health.go
  internal/handlers/upload.go
  internal/handlers/user_auth.go
  internal/middleware/logging.go
Due: handlers, middleware

ci: use golangci-lint-action v7 with golangci-lint v2
  .github/workflows/build-and-push.yml
Due: none

ui: compact API tokens section and center table columns
  internal/static/web/dashboard.html
  internal/static/web/service-worker.js
Due: none

ui: compact API tokens section and center table columns (#147)
  internal/static/web/dashboard.html
  internal/static/web/service-worker.js
Due: none

fix(sdk): align Go and TypeScript SDK field names with API response
  sdk/go/client.go
  sdk/go/cmd/safeshare-cli/list.go
  sdk/go/files.go
  sdk/go/types.go
  sdk/typescript/src/client.ts
  sdk/typescript/src/index.ts
  sdk/typescript/src/types.ts
Due: none

fix(sdk): align Go and TypeScript SDK field names with API response (#148)
  sdk/go/client.go
  sdk/go/cmd/safeshare-cli/list.go
  sdk/go/files.go
  sdk/go/types.go
  sdk/typescript/src/client.ts
  sdk/typescript/src/index.ts
  sdk/typescript/src/types.ts
Due: none

fix: prevent SQLITE_BUSY errors with connection pool pragma handling
  internal/database/db.go
  internal/database/files.go
  internal/database/partial_uploads.go
  internal/handlers/user_dashboard.go
Due: handlers, database

fix: prevent SQLITE_BUSY errors with connection pool pragma handling (#150)
  internal/database/db.go
  internal/database/files.go
  internal/database/partial_uploads.go
  internal/handlers/user_dashboard.go
Due: handlers, database

fix: add SQLITE_BUSY_SNAPSHOT (517) to error detection
  internal/database/db.go
Due: database

fix: add SQLITE_BUSY_SNAPSHOT (517) to error detection (#151)
  internal/database/db.go
Due: database

fix: use _txlock=immediate DSN for actual BEGIN IMMEDIATE transactions
  internal/database/db.go
  internal/database/partial_uploads.go
Due: database

fix: use _txlock=immediate DSN for actual BEGIN IMMEDIATE transactions (#152)
  internal/database/db.go
  internal/database/partial_uploads.go
Due: database

fix(sdk): correct chunked upload threshold field and add async polling
  sdk/go/types.go
  sdk/go/upload.go
Due: none

fix(sdk): apply same fixes to TypeScript SDK
  sdk/typescript/src/client.ts
  sdk/typescript/tests/client.test.ts
Due: none

fix(sdk): correct chunked upload threshold field and add async polling (#153)
  sdk/go/types.go
  sdk/go/upload.go
  sdk/typescript/src/client.ts
  sdk/typescript/tests/client.test.ts
Due: none

fix(sdk): align user file management APIs with SDK expectations
  cmd/safeshare/main.go
  internal/database/users.go
  internal/handlers/user_dashboard.go
  internal/utils/validation.go
  internal/utils/validation_test.go
  sdk/go/client_test.go
  sdk/go/download.go
  sdk/go/types.go
  sdk/typescript/src/client.ts
Due: handlers, database, utils

fix(sdk): align user file management APIs with SDK expectations (#154)
  cmd/safeshare/main.go
  internal/database/users.go
  internal/handlers/user_dashboard.go
  internal/utils/validation.go
  internal/utils/validation_test.go
  sdk/go/client_test.go
  sdk/go/download.go
  sdk/go/types.go
  sdk/typescript/src/client.ts
Due: handlers, database, utils

Path conditions:
  handlers: any of: internal/handlers/, but not: **/*_test.go, **/testdata/**, cmd/migrate-chunks/**, cmd/import-file/**
  middleware: any of: internal/middleware/, but not: **/*_test.go, **/testdata/**, cmd/migrate-chunks/**, cmd/import-file/**
  database: any of: internal/database/, but not: **/*_test.go, **/testdata/**, cmd/migrate-chunks/**, cmd/import-file/**
  utils: any of: internal/utils/, but not: **/*_test.go, **/testdata/**, cmd/migrate-chunks/**, cmd/import-file/**
