Repository fjmerc/safeshare: changes, and which Codecov flags are due for each by the changed paths.
All: handlers, middleware, database, utils

.codecov.yml:

# Codecov Configuration
# SafeShare - Phase 1 CI/CD Integration
# Current baseline coverage: 23.4%
# Threshold set to 20% for safety margin
# Future improvements planned: 35% → 50% → 80%

coverage:
  status:
    project:
      default:
        target: 20%              # Baseline coverage target
        threshold: 1%            # Allow 1% drop without failing
        informational: false     # Fail CI if below threshold
    patch:
      default:
        informational: true      # Don't require coverage on new code yet (Phase 1)

  precision: 2                   # Display 2 decimal places
  round: down                    # Round down for conservative estimates
  range: "70...100"             # Green coverage range

# Comment configuration for PRs
comment:
  layout: "diff, files, footer"
  behavior: default              # Update existing comments
  require_changes: false         # Always comment
  require_base: false            # Comment even on first PR
  require_head: true             # Require head coverage

# Ignore patterns
ignore:
  - "**/*_test.go"              # Ignore test files
  - "**/testdata/**"            # Ignore test data
  - "cmd/migrate-chunks/**"     # Ignore migration tools
  - "cmd/import-file/**"        # Ignore import tools

# Component flags (for detailed coverage tracking)
flags:
  handlers:
    paths:
      - internal/handlers/
  middleware:
    paths:
      - internal/middleware/
  database:
    paths:
      - internal/database/
  utils:
    paths:
      - internal/utils/

fix: resume grace window for completed capped downloads; charge the first request to the session byte ceiling (T42)
  cmd/safeshare/main.go
  docs/CHANGELOG.md
  docs/SECURITY.md
  docs/UPGRADING.md
  internal/handlers/claim_reservation_test.go
  internal/handlers/claim_session.go
  internal/handlers/claim_session_grace_test.go
  internal/handlers/claim_session_test.go
  internal/handlers/session_grace.go
  internal/repository/file_repository.go
  internal/repository/mock/file_repository.go
  internal/repository/postgres/download_session_test.go
  internal/repository/postgres/file_repository.go
  internal/repository/sqlite/file_repository.go
  internal/repository/sqlite/file_repository_test.go
  internal/utils/reservation_reaper.go
  internal/utils/reservation_reaper_test.go
Due: handlers, utils

test: update Postgres session tests for the T42 completeGrace parameter
  internal/repository/postgres/download_session_integration_test.go
Due: none

feat: login limiters count only failures, per-route instances, no sliding lockout
  cmd/safeshare/auth_routes_test.go
  cmd/safeshare/main.go
  docs/CHANGELOG.md
  docs/SECURITY.md
  docs/TOR_DEPLOYMENT.md
  internal/middleware/admin.go
  internal/middleware/admin_test.go
  internal/middleware/ratelimit_login_test.go
Due: middleware

chore: release v1.8.0
  docs/CHANGELOG.md
  docs/SECURITY.md
  internal/handlers/version.go
Due: handlers

fix: per-account MFA code limit, MFA empty-secret bypass, login hardening
  cmd/safeshare/main.go
  docs/CHANGELOG.md
  docs/SECURITY.md
  docs/TOR_DEPLOYMENT.md
  internal/handlers/admin.go
  internal/handlers/auth_followups_test.go
  internal/handlers/helpers.go
  internal/handlers/user_auth.go
  internal/handlers/user_mfa_login.go
  internal/handlers/user_mfa_test.go
  internal/middleware/admin.go
  internal/middleware/admin_test.go
  internal/middleware/ratelimit_password_test.go
  internal/privacy/privacy.go
  internal/privacy/privacy_test.go
Due: handlers, middleware

chore: release v1.8.1
  docs/CHANGELOG.md
  docs/SECURITY.md
  internal/handlers/version.go
Due: handlers

perf: stream uploads to disk instead of buffering them in memory
  docs/CHANGELOG.md
  docs/SECURITY.md
  internal/handlers/upload.go
  internal/handlers/upload_chunked.go
  internal/handlers/upload_stream.go
  internal/handlers/upload_stream_test.go
  internal/handlers/upload_test.go
  internal/utils/chunks.go
Due: handlers, utils

perf: cut off stalled upload bodies; rate limit upload status
  cmd/safeshare/main.go
  docs/CHANGELOG.md
  docs/CHUNKED_UPLOAD.md
  internal/handlers/upload.go
  internal/handlers/upload_chunked.go
  internal/handlers/upload_deadline_test.go
  internal/handlers/upload_stream.go
  internal/middleware/ratelimit.go
  internal/middleware/ratelimit_test.go
Due: handlers, middleware

fix: web uploader keeps polling status through 429s
  docs/CHANGELOG.md
  internal/static/web/assets/chunked-uploader.js
  internal/static/web/service-worker.js
Due: none

chore: release v1.9.0
  docs/CHANGELOG.md
  docs/SECURITY.md
  internal/handlers/version.go
Due: handlers

fix: chunked uploads release quota reservations once idle (T30)
  docs/CHANGELOG.md
  docs/CHUNKED_UPLOAD.md
  internal/database/files.go
  internal/database/partial_uploads.go
  internal/handlers/upload_chunked.go
  internal/handlers/upload_reservation_test.go
  internal/repository/partial_upload_repository.go
  internal/repository/postgres/common.go
  internal/repository/postgres/file_repository.go
  internal/repository/postgres/partial_upload_repository.go
  internal/repository/postgres/partial_upload_reservation_integration_test.go
  internal/repository/sqlite/common.go
  internal/repository/sqlite/file_repository.go
  internal/repository/sqlite/partial_upload_repository.go
  internal/repository/sqlite/partial_upload_reservation_test.go
Due: handlers, database

fix: hand Pickup downloads to the browser instead of page memory (T31)
  docs/CHANGELOG.md
  docs/HTTP_RANGE_SUPPORT.md
  docs/SECURITY.md
  docs/TROUBLESHOOTING.md
  internal/handlers/claim.go
  internal/handlers/claim_session.go
  internal/handlers/claim_session_grace_test.go
  internal/static/web/assets/app.js
  internal/static/web/assets/resumable-downloader.js
  internal/static/web/index.html
  internal/static/web/service-worker.js
Due: handlers

chore: release v1.10.0
  docs/CHANGELOG.md
  docs/SECURITY.md
  internal/handlers/version.go
Due: handlers

fix: SDKs keep polling upload status through 429s (T52)
  docs/CHANGELOG.md
  sdk/go/upload.go
  sdk/go/upload_poll_test.go
  sdk/python/safeshare/client.py
  sdk/python/tests/test_client.py
  sdk/typescript/src/client.ts
  sdk/typescript/tests/client.test.ts
Due: none

fix: safe initial focus on admin confirm, keyboard close for recovery modal
  internal/static/web/admin/dashboard.html
  internal/static/web/assets/app.js
  internal/static/web/assets/dialogs.js
  internal/static/web/assets/style.css
Due: none

fix: accessible modal dialogs and screen-reader toasts (#12, #25)
  docs/CHANGELOG.md
  internal/static/web/admin/dashboard.html
  internal/static/web/assets/dialogs.js
  internal/static/web/assets/toast.js
  internal/static/web/dashboard.html
  internal/static/web/index.html
  internal/static/web/service-worker.js
Due: none

fix: a chunk's first write can't replace a concurrently stored one (T51)
  docs/CHANGELOG.md
  internal/handlers/upload_chunk_race_test.go
  internal/handlers/upload_chunked.go
  internal/utils/chunks.go
  internal/utils/chunks_commit_test.go
Due: handlers, utils

chore: release v1.10.1
  docs/CHANGELOG.md
  docs/SECURITY.md
  internal/handlers/version.go
Due: handlers

feat(audit): tamper-evident audit log core (ADR-018)
  internal/audit/audit_test.go
  internal/audit/key.go
  internal/audit/logger.go
  internal/audit/record.go
  internal/database/migrations/027_audit_logs.sql
  internal/models/audit_log.go
  internal/repository/audit_log_repository.go
  internal/repository/factory.go
  internal/repository/postgres/audit_log_integration_test.go
  internal/repository/postgres/audit_log_repository.go
  internal/repository/postgres/factory.go
  internal/repository/postgres/integration_test.go
  internal/repository/postgres/migrations.go
  internal/repository/sqlite/audit_log_repository.go
  internal/repository/sqlite/factory.go
Due: database

feat(audit): hooks, admin Audit Log tab and API, review fixes
  cmd/safeshare/main.go
  docs/ARCHITECTURE.md
  docs/CHANGELOG.md
  docs/SECURITY.md
  internal/audit/audit_test.go
  internal/audit/logger.go
  internal/audit/record.go
  internal/handlers/admin.go
  internal/handlers/admin_audit_logs.go
  internal/handlers/admin_audit_logs_test.go
  internal/handlers/admin_backup.go
  internal/handlers/admin_users.go
  internal/handlers/api_tokens.go
  internal/handlers/assembly_worker.go
  internal/handlers/audit_hooks.go
  internal/handlers/audit_hooks_test.go
  internal/handlers/claim.go
  internal/handlers/claim_session.go
  internal/handlers/upload.go
  internal/handlers/user_auth.go
  internal/handlers/user_auth_test.go
  internal/handlers/user_dashboard.go
  internal/handlers/user_mfa.go
  internal/handlers/user_mfa_login.go
  internal/handlers/user_webauthn.go
  internal/middleware/admin.go
  internal/models/audit_log.go
  internal/repository/postgres/migrations.go
  internal/static/web/admin/assets/admin.css
  internal/static/web/admin/assets/admin.js
  internal/static/web/admin/dashboard.html
  internal/static/web/service-worker.js
Due: handlers, middleware

fix(audit): security audit findings
  cmd/safeshare/main.go
  docs/ARCHITECTURE.md
  docs/CHANGELOG.md
  docs/DEPLOYMENT_MODES.md
  docs/SECURITY.md
  internal/audit/audit_test.go
  internal/audit/key.go
  internal/audit/logger.go
  internal/audit/record.go
  internal/handlers/sso_auth.go
  internal/repository/audit_log_repository.go
  internal/repository/postgres/audit_log_repository.go
  internal/repository/sqlite/audit_log_repository.go
  internal/static/web/admin/assets/admin.js
Due: handlers

fix(audit): prune refuses an anchor no signed prune vouches for
  cmd/safeshare/main.go
  docs/DEPLOYMENT_MODES.md
  internal/audit/audit_test.go
  internal/audit/logger.go
  internal/audit/record.go
  internal/handlers/admin_audit_logs.go
  internal/repository/audit_log_repository.go
  internal/repository/postgres/audit_log_repository.go
  internal/repository/sqlite/audit_log_repository.go
  internal/static/web/admin/assets/admin.js
Due: handlers

chore: release v1.11.0
  docs/CHANGELOG.md
  docs/SECURITY.md
  internal/handlers/version.go
Due: handlers

style(ui): shared color, focus and z-index tokens that meet WCAG AA
  internal/static/web/admin/assets/admin.css
  internal/static/web/assets/style.css
  internal/static/web/assets/theme-init.js
Due: none

feat(ui): accessibility, contrast, mobile and visual clean-up pass
  docs/CHANGELOG.md
  internal/static/web/admin/assets/admin-login.js
  internal/static/web/admin/assets/admin.css
  internal/static/web/admin/assets/admin.js
  internal/static/web/admin/dashboard.html
  internal/static/web/admin/login.html
  internal/static/web/assets/app.js
  internal/static/web/assets/dashboard.js
  internal/static/web/assets/error-theme-toggle.js
  internal/static/web/assets/login.js
  internal/static/web/assets/style.css
  internal/static/web/assets/toast.js
  internal/static/web/dashboard.html
  internal/static/web/error.html
  internal/static/web/index.html
  internal/static/web/login.html
  internal/static/web/service-worker.js
Due: none

feat(ui): phone and tablet layouts for every page
  docs/CHANGELOG.md
  internal/static/web/admin/assets/admin.css
  internal/static/web/admin/assets/admin.js
  internal/static/web/admin/dashboard.html
  internal/static/web/assets/app.js
  internal/static/web/assets/dashboard.js
  internal/static/web/assets/style.css
  internal/static/web/dashboard.html
  internal/static/web/error.html
  internal/static/web/index.html
  internal/static/web/login.html
Due: none

fix(backup): retention never matched generated backup names; UI follow-ups
  docs/CHANGELOG.md
  internal/backup/backup_test.go
  internal/backup/manifest.go
  internal/backup/scheduler.go
  internal/backup/scheduler_test.go
  internal/static/web/admin/assets/admin.css
  internal/static/web/assets/app.js
  internal/static/web/index.html
  internal/static/web/service-worker.js
Due: none

feat(ui): replace the upload pop-up with a quiet recent-uploads list
  docs/CHANGELOG.md
  internal/static/web/assets/app.js
  internal/static/web/assets/chunked-uploader.js
  internal/static/web/assets/dashboard.js
  internal/static/web/assets/dialogs.js
  internal/static/web/assets/style.css
  internal/static/web/index.html
  internal/static/web/service-worker.js
Due: none

chore: release v1.11.1
  docs/CHANGELOG.md
  docs/SECURITY.md
  internal/handlers/version.go
Due: handlers

feat(pwa): installable app polish, offline page, stop caching pages
  docs/CHANGELOG.md
  docs/SECURITY.md
  internal/static/web/assets/app.js
  internal/static/web/assets/manifest.json
  internal/static/web/assets/maskable-512x512.png
  internal/static/web/assets/offline.html
  internal/static/web/assets/pwa.js
  internal/static/web/assets/style.css
  internal/static/web/dashboard.html
  internal/static/web/error.html
  internal/static/web/index.html
  internal/static/web/login.html
  internal/static/web/service-worker.js
Due: none

feat(ui): new SafeShare logo
  internal/static/web/assets/android-chrome-192x192.png
  internal/static/web/assets/android-chrome-512x512.png
  internal/static/web/assets/apple-touch-icon.png
  internal/static/web/assets/favicon-16x16.png
  internal/static/web/assets/favicon-32x32.png
  internal/static/web/assets/favicon.ico
  internal/static/web/assets/logo.svg
Due: none

chore: release v1.12.0
  docs/CHANGELOG.md
  docs/SECURITY.md
  internal/handlers/version.go
Due: handlers

docs: sync docs with v1.9.0–v1.11.1
  README.md
  docs/API_REFERENCE.md
  docs/API_REFERENCE_FOR_TESTING.md
  docs/ARCHITECTURE.md
  docs/BACKUP_RESTORE.md
  docs/DEPLOYMENT_MODES.md
  docs/FRONTEND.md
  docs/HA_DEPLOYMENT.md
  docs/MFA_SETUP.md
  docs/PRODUCTION.md
  docs/README.md
  docs/TROUBLESHOOTING.md
  docs/UPGRADING.md
  docs/openapi.yaml
Due: none

docs: cover v1.12.0 installable app and service worker
  README.md
  docs/ARCHITECTURE.md
  docs/FRONTEND.md
  docs/openapi.yaml
Due: none

fix: don't tell clients to retry anonymous-mode policy rejections
  internal/handlers/helpers.go
  internal/handlers/helpers_test.go
Due: handlers

chore: release v1.13.0
  docs/CHANGELOG.md
  docs/SECURITY.md
  internal/handlers/version.go
Due: handlers

fix(admin): remove vertical scrollbar from the tab bar
  docs/CHANGELOG.md
  internal/static/web/admin/assets/admin.css
  internal/static/web/service-worker.js
Due: none
