Repository fjmerc/safeshare: changes, and which Codecov flags are due for each by the changed paths.
All: handlers, middleware, database, utils

.codecov.yml:

# Codecov Configuration
# SafeShare - Phase 1 CI/CD Integration
# Current baseline coverage: 23.4%
# Threshold set to 20% for safety margin
# Future improvements planned: 35% → 50% → 80%

coverage:
  status:
    project:
      default:
        target: 20%              # Baseline coverage target
        threshold: 1%            # Allow 1% drop without failing
        informational: false     # Fail CI if below threshold
    patch:
      default:
        informational: true      # Don't require coverage on new code yet (Phase 1)

  precision: 2                   # Display 2 decimal places
  round: down                    # Round down for conservative estimates
  range: "70...100"             # Green coverage range

# Comment configuration for PRs
comment:
  layout: "diff, files, footer"
  behavior: default              # Update existing comments
  require_changes: false         # Always comment
  require_base: false            # Comment even on first PR
  require_head: true             # Require head coverage

# Ignore patterns
ignore:
  - "**/*_test.go"              # Ignore test files
  - "**/testdata/**"            # Ignore test data
  - "cmd/migrate-chunks/**"     # Ignore migration tools
  - "cmd/import-file/**"        # Ignore import tools

# Component flags (for detailed coverage tracking)
flags:
  handlers:
    paths:
      - internal/handlers/
  middleware:
    paths:
      - internal/middleware/
  database:
    paths:
      - internal/database/
  utils:
    paths:
      - internal/utils/

feat(api-tokens): implement bulk token operations for admin (Task 3.3.5)
  cmd/safeshare/main.go
  internal/handlers/api_tokens.go
  internal/repository/api_token_repository.go
  internal/repository/postgres/api_token_repository.go
  internal/repository/sqlite/api_token_repository.go
Due: handlers

feat(api-tokens): update API token UI for user and admin dashboards (Task 3.3.6)
  internal/static/web/admin/assets/admin.js
  internal/static/web/admin/dashboard.html
  internal/static/web/dashboard.html
  internal/static/web/service-worker.js
Due: none

feat(api-tokens): add token expiration warning headers (Task 3.3.7)
  internal/middleware/user_auth.go
Due: middleware

test(api-tokens): add comprehensive tests for API token features (Task 3.3.8)
  internal/handlers/api_tokens_test.go
  internal/middleware/token_audit_test.go
  internal/middleware/user_auth_test.go
  internal/repository/sqlite/api_token_repository_test.go
Due: none

feat(mfa): implement TOTP authentication with MFA login flow (Tasks 3.2.1-3.2.10)
  cmd/safeshare/main.go
  go.mod
  go.sum
  internal/config/config.go
  internal/database/migrations/017_mfa.sql
  internal/handlers/user_auth.go
  internal/handlers/user_mfa.go
  internal/handlers/user_mfa_login.go
  internal/middleware/admin.go
  internal/repository/factory.go
  internal/repository/mfa_repository.go
  internal/repository/postgres/factory.go
  internal/repository/postgres/mfa_repository.go
  internal/repository/postgres/migrations.go
  internal/repository/sqlite/factory.go
  internal/repository/sqlite/mfa_repository.go
Due: handlers, middleware, database

feat(mfa): add MFA management UI to user dashboard (Task 3.2.11)
  cmd/safeshare/main.go
  docs/CHANGELOG.md
  internal/handlers/user_mfa.go
  internal/static/web/dashboard.html
  internal/static/web/service-worker.js
Due: handlers

feat(webauthn): add WebAuthn/FIDO2 hardware key support (Task 3.2.12)
  cmd/safeshare/main.go
  go.mod
  go.sum
  internal/handlers/user_mfa.go
  internal/handlers/user_mfa_login.go
  internal/handlers/user_webauthn.go
  internal/repository/postgres/mfa_repository.go
  internal/repository/sqlite/mfa_repository.go
  internal/static/web/dashboard.html
  internal/static/web/service-worker.js
  internal/webauthn/webauthn.go
Due: handlers

docs(mfa): add MFA tests and documentation (Tasks 3.2.13-3.2.14)
  docs/MFA_SETUP.md
  internal/handlers/user_mfa.go
  internal/handlers/user_mfa_test.go
  internal/repository/sqlite/mfa_repository.go
  internal/repository/sqlite/mfa_repository_test.go
Due: handlers

feat(sso): add SSO repository layer with security fixes (Tasks 3.1.1-3.1.4)
  go.mod
  go.sum
  internal/database/migrations/018_sso.sql
  internal/repository/factory.go
  internal/repository/postgres/factory.go
  internal/repository/postgres/migrations.go
  internal/repository/postgres/sso_repository.go
  internal/repository/sqlite/factory.go
  internal/repository/sqlite/sso_repository.go
  internal/repository/sqlite/sso_repository_test.go
  internal/repository/sso_repository.go
Due: database

feat(sso): add SSO configuration and OIDC provider (Tasks 3.1.5-3.1.6)
  go.mod
  go.sum
  internal/auth/sso/oidc.go
  internal/auth/sso/oidc_test.go
  internal/config/config.go
  internal/config/sso.go
  internal/config/sso_test.go
Due: none

feat(sso): add SSO login HTTP handlers (Task 3.1.8)
  cmd/safeshare/main.go
  internal/handlers/sso_auth.go
Due: handlers

feat(sso): add SSO UI, session management, and admin endpoints (Tasks 3.1.9-3.1.12)
  cmd/safeshare/main.go
  internal/handlers/admin_sso.go
  internal/handlers/sso_auth.go
  internal/static/web/login.html
  internal/static/web/service-worker.js
Due: handlers

test(sso): add comprehensive SSO tests (Task 3.1.13)
  internal/auth/sso/oidc_test.go
  internal/handlers/admin_sso_test.go
  internal/handlers/sso_auth_test.go
Due: none

docs(sso): add SSO setup documentation (Task 3.1.14)
  docs/SSO_SETUP.md
Due: none

feat(admin): add Admin UI for enterprise feature management
  cmd/safeshare/main.go
  internal/config/config.go
  internal/config/sso.go
  internal/database/migrations/019_enterprise_config.sql
  internal/handlers/admin_enterprise.go
  internal/handlers/admin_features.go
  internal/repository/postgres/settings_repository.go
  internal/repository/settings_repository.go
  internal/repository/sqlite/settings_repository.go
  internal/repository/sqlite/settings_repository_test.go
  internal/static/web/admin/assets/admin.js
  internal/static/web/admin/dashboard.html
  internal/static/web/service-worker.js
Due: handlers, database

fix(dashboard): resolve WebAuthn and MFA issues on user dashboard
  cmd/safeshare/main.go
  internal/static/web/admin/assets/admin.js
  internal/static/web/admin/dashboard.html
  internal/static/web/dashboard.html
Due: none

feat(admin): add bulk token extension and improve API Tokens UI
  cmd/safeshare/main.go
  internal/database/api_tokens.go
  internal/handlers/api_tokens.go
  internal/repository/api_token_repository.go
  internal/repository/postgres/api_token_repository.go
  internal/repository/sqlite/api_token_repository.go
  internal/static/web/admin/assets/admin.css
  internal/static/web/admin/assets/admin.js
  internal/static/web/admin/dashboard.html
  internal/static/web/dashboard.html
  internal/static/web/service-worker.js
Due: handlers, database

feat(admin): improve enterprise feature tabs and UI alignment
  internal/static/web/admin/assets/admin.css
  internal/static/web/admin/assets/admin.js
  internal/static/web/admin/dashboard.html
  internal/static/web/service-worker.js
Due: none

test: increase code coverage to 63.8% (exceeds 60% threshold)
  .github/workflows/build-and-push.yml
  CLAUDE.md
  internal/backup/scheduler_test.go
  internal/config/features_test.go
  internal/database/api_tokens_test.go
  internal/database/users_test.go
  internal/handlers/admin_backup_scheduler_test.go
  internal/handlers/admin_enterprise_test.go
  internal/handlers/admin_features_test.go
  internal/handlers/admin_token_usage_test.go
  internal/handlers/api_tokens_test.go
  internal/handlers/config_assistant_test.go
  internal/handlers/health_test.go
  internal/handlers/helpers_test.go
  internal/handlers/storage_test.go
  internal/middleware/admin_test.go
  internal/middleware/feature_flags_test.go
  internal/middleware/helpers_test.go
  internal/middleware/user_auth_test.go
  internal/repository/mock/backup_scheduler_repository.go
  internal/repository/mock/backup_scheduler_repository_test.go
  internal/repository/postgres/common_test.go
  internal/repository/postgres/factory_test.go
  internal/repository/repository_test.go
  internal/static/static_test.go
  internal/storage/s3/storage_test.go
  internal/testutil/fixtures_test.go
  internal/testutil/testutil_test.go
  internal/utils/ipvalidation_test.go
  internal/utils/sanitize_test.go
  internal/utils/upload_tracker_test.go
  internal/webauthn/webauthn_test.go
Due: none

test(postgres): add comprehensive integration tests achieving 64.8% coverage
  .github/workflows/build-and-push.yml
  CLAUDE.md
  docker-compose.postgres-test.yml
  internal/repository/postgres/integration_test.go
  internal/repository/postgres/migrations.go
  scripts/test-postgres.sh
Due: none

docs: comprehensive documentation update for v1.5.0 release
  README.md
  docs/ARCHITECTURE.md
  docs/CHANGELOG.md
Due: none

fix(lint): resolve 29 errcheck violations for CI compliance
  internal/handlers/admin.go
  internal/handlers/admin_enterprise.go
  internal/handlers/assembly_worker.go
  internal/repository/postgres/admin_repository.go
  internal/repository/postgres/api_token_repository.go
  internal/repository/postgres/file_repository.go
  internal/repository/postgres/lock_repository.go
  internal/repository/postgres/mfa_repository.go
  internal/repository/sqlite/admin_repository.go
  internal/repository/sqlite/mfa_repository.go
  internal/storage/s3/encrypted_storage.go
Due: handlers

fix(lint): resolve remaining 13 lint issues for CI compliance
  internal/auth/sso/oidc_test.go
  internal/benchmarks/upload_benchmark_test.go
  internal/handlers/assembly_worker.go
  internal/repository/postgres/mfa_repository.go
  internal/repository/sqlite/sso_repository_test.go
  internal/storage/s3/storage.go
Due: handlers

fix(lint): resolve all remaining errcheck violations
  internal/handlers/assembly_worker.go
  internal/repository/postgres/mfa_repository.go
  internal/repository/postgres/migrations.go
  internal/repository/postgres/partial_upload_repository.go
  internal/repository/postgres/rate_limit_repository.go
  internal/repository/postgres/sso_repository.go
  internal/repository/postgres/user_repository.go
Due: handlers

chore(release): bump version to 1.5.0
  docs/CHANGELOG.md
  internal/handlers/version.go
Due: handlers

docs: update README version to 1.5.0
  README.md
Due: none

docs: update version refs to v1.5.0 and add missing docs to index
  docs/API_REFERENCE.md
  docs/API_VERSIONING.md
  docs/CONTRIBUTING.md
  docs/README.md
  docs/TROUBLESHOOTING.md
  docs/UPGRADING.md
Due: none

docs: update version refs to v1.5.0 and add missing docs to index (#161)
  docs/API_REFERENCE.md
  docs/API_VERSIONING.md
  docs/CONTRIBUTING.md
  docs/README.md
  docs/TROUBLESHOOTING.md
  docs/UPGRADING.md
Due: none

fix(ui): make rotate token button consistent with other icon buttons
  CLAUDE.md
  internal/static/web/dashboard.html
  internal/static/web/service-worker.js
Due: none

fix(mfa): enable WebAuthn runtime reinitialization when MFA is enabled via admin UI
  cmd/safeshare/main.go
  docs/CHANGELOG.md
  internal/handlers/admin_enterprise.go
  internal/handlers/user_mfa_login.go
  internal/handlers/user_webauthn.go
  internal/handlers/webauthn_service.go
Due: handlers

fix(mfa): enable WebAuthn runtime reinitialization when MFA is enabled via admin UI (#162)
  CLAUDE.md
  cmd/safeshare/main.go
  docs/CHANGELOG.md
  internal/handlers/admin_enterprise.go
  internal/handlers/user_mfa_login.go
  internal/handlers/user_webauthn.go
  internal/handlers/webauthn_service.go
  internal/static/web/dashboard.html
  internal/static/web/service-worker.js
Due: handlers

fix(mfa): use UTC consistently for challenge storage and add diagnostic logging
  docs/CHANGELOG.md
  internal/handlers/user_webauthn.go
  internal/repository/sqlite/mfa_repository.go
Due: handlers

fix(mfa): use UTC consistently for challenge storage and add diagnostic logging (#163)
  docs/CHANGELOG.md
  internal/handlers/user_webauthn.go
  internal/repository/sqlite/mfa_repository.go
Due: handlers

debug: add temporary logging to trace MFA challenge timezone issue
  internal/repository/sqlite/mfa_repository.go
Due: none

fix(mfa): handle multiple timestamp formats when parsing challenge expiry
  internal/repository/sqlite/mfa_repository.go
Due: none

feat(ui): add MFA verification support to login page
  internal/static/web/login.html
  internal/static/web/service-worker.js
Due: none

feat(admin): add MFA verification support to admin login
  internal/handlers/admin.go
  internal/static/web/admin/login.html
Due: handlers

fix(webauthn): correct credential format for go-webauthn registration
  internal/static/web/dashboard.html
Due: none

feat(mfa): add MFA verification support to user and admin login (#164)
  internal/handlers/admin.go
  internal/static/web/admin/login.html
  internal/static/web/dashboard.html
  internal/static/web/login.html
  internal/static/web/service-worker.js
Due: handlers
